<div class="newsPage">
	<div class="wrapper">
		
	</div>
</div>

<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	<div class="error">
		<div class="merror__logo">
			{{Icon iconName="error-logo"}}
			
		</div>
		<div class="merror__icon">
			{{Icon iconName="error-icon"}}
		</div>
		<div class="merror__title">
			Ошибка 404
		</div>
		<div class="merror__desc">
			К сожалению, запрашиваемая страница не найдена, но есть другие, тоже хорошие
		</div>
		<div class="merror__button">
			На главную
		</div>
	</div>
</body>

</html>