<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}
			<div class="main__slider">
				<div class="swiper-container main-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide main-slide">
							<a href="#" class="main-link">
								<img src="static/img/content/slide3.png" class="main-img">
							</a>
						</div>
						<div class="swiper-slide main-slide">
							<a href="#" class="main-link">
								<img src="static/img/content/slide3.png" class="main-img">
							</a>
						</div>
						<div class="swiper-slide main-slide">
							<a href="#" class="main-link">
								<img src="static/img/content/slide3.png" class="main-img">
							</a>
						</div>
					</div>
				</div>
				<div class="slider-btn main-btn-prev">
					{{Icon iconName="arrow"}}
				</div>
				<div class="slider-btn main-btn-next">
					{{Icon iconName="arrow"}}
				</div>	
				
				<div class="main-pagination"></div>			
			</div>

			<div class="about">
				<div class="about__text content">
					<div class="about__text-title">
						<h4 class="title">О компании</h4>
					</div>
					<div class="about__text-desc">
						<p class="about__text-par">Качественный утеплитель - основа комфортного, долговечного и энергоэффективного дома. Если вы ищете партнера, способного предоставить вам полный спектр теплоизоляционных материалов для строительства, отличающихся высоким качеством и доступной ценой, наша компания к вашим услугам.</p>
						<p class="about__text-par">Три кита, на которых строится наш бизнес - это широкий ассортимент стройматериалов, доступная цена и клиентоориентированность нашей компании. Почему мы выбрали именно такой курс? Об этом – подробнее.</p>
					</div>

					<div class="about__text-list">
						<span class="about__text-name">
							Основные ценности нашей компании:
						</span>

						<ul class="about__list">
							<li class="about__list-item">
								<span>Доставка отправлений из более чем 210 стран мира</span>
							</li>
							<li class="about__list-item">
								<span>Таможенное оформление</span>
							</li>
							<li class="about__list-item">
								<span>Расчёт стоимости услуги осуществляется по запросу</span>
							</li>
						</ul>

						<div class="about__block1">
							<div class="about__block1-title">Супермаркет утеплителя - ключ к успеху</div>
							<div class="about__block1-text">Вы можете выбрать рулонные и плитные утеплители, стекловату, минвату и Экструдированный пенополистирол, материалы высокой плотности или мягкие (применяющиеся для теплоизоляции ненагруженных конструкций). Каким бы ни был проект вашего дома и какой бы вид утепления он не предусматривал, вы сможете найти в нашем супермаркете подходящий для ваших целей материал. Многослойное утепление с облицовкой из кирпича, утепленный вентилируемый фасад, "мокрый" фасад, кровельный "пирог" любого типа, изоляция заглубленных и внутридомовых конструкций – с нашей компанией возможно построить всё.</div>
							<img src="static/img/content/b1.png" alt="">
						</div>

						<p class="about__text-par">Наш интернет-магазин можно по праву назвать строительным супермаркетом в квалификации - УТЕПЛИТЕЛИ. Ведь здесь собраны сотни видов утеплителей и других материалов: кровельные рулонные покрытия, ОСБ и фанера, строительные мембраны, гидропароизоляция, сухие смеси, гипсокартон... Один лишь оптовый склад утеплителя хранит в себе двести наименований теплоизоляции! И, кстати, среди этой продукции можно найти материал для любых целей - теплосбережения, шумоизоляции, огнезащиты и гидроизоляции. </p>
						<p class="about__text-par">Приобретая утеплитель со склада у нас, вы избавлены от необходимости заказывать теплоизоляцию в разных магазинах России, тратя время и нервы на поиск нужного вам товара. А учитывая то, что наши клиенты строят свои дома в разных регионах РФ, широкий ассортимент позволяет им сэкономить на доставке - ведь различные виды утеплителя комплектуются в единую партию, что значительно снижает расходы.</p>

						<div class="about__block2">
							<div class="about__block2-title">В нашем случае дешево это значит выгодно а не плохо!!!</div>
							<div class="about__block2-text"> Наша компания заключила договоры с производителями, которые обязывают нас продавать значительный объем теплоизоляционных материалов. И в этом случае мы можем приобретать утеплитель по максимально низкой цене. Другие магазины не могут выполнять такой объем заказов, поэтому либо приобретают утеплитель в Москве, у других официальных дилеров (и отнюдь не по самой доступной стоимости), либо делают значительную наценку на этот товар.</div>
							<img src="static/img/content/b2.png" alt="">
						</div>

						<p class="about__text-par">Мы продаем в розницу утеплитель со склада по цене, которая является оптовой. Приобретая его в нашей компании, вы можете сэкономить до 30% бюджета - согласитесь, это значительная сумма. При этом качество теплоизоляционных материалов остается неизменно высоким. Вы спросите, в чем наш секрет? Как нам удается держать низкие цены без снижения качества утеплителя? Ответ прост. </p>
						<p class="about__text-par">Так что в нашем случае дешево - не значит плохо. Дешево - значит экономно. В первую очередь, для наших клиентов.</p>

						<div class="about__block3">
							<div class="about__block3-title">Клиентоориенторованность - не просто модное слово</div>
							<div class="about__block3-text"> Так же нами разработана гибкая система скидок. А для оптовых клиентов мы предлагаем заключение взаимовыгодных договоров, в рамках которых вы не только своевременно получаете всю партию товара, но и имеете возможность заключить сделку на особых финансовых условиях. Отдельный момент - это бухгалтерская отчетность.</div>
							<img src="static/img/content/b3.png" alt="">
						</div>

						<p class="about__text-par">В последнее время в бизнес-сфере все чаще звучит слово "клиентоориентированность". Что оно значит для нас? Это желание строить работу нашего интернет-магазина таким образом, чтобы предоставлять нашим клиентам все возможные товары и услуги, которые им могут потребоваться. Поэтому мы предусмотрели возможность заказа любых стройматериалов - даже самых редких, которые невозможно купить в обычных российских магазинах. Создали удобную систему доставки и оплаты. И разработали линейку спецпредложений, в число которых входит заказ строительных работ (устройство кровли, утепление каркасных домов и т.п.), предоставление рабочей силы и спецтехникиМы предоставляем все необходимые документы на товар (сертификаты, счета-фактуры, акты выполненных работ) и принимаем оплату как наличными, так и по безналу. Теплоизоляция со склада нашей компании доставляется в любую точку Москвы и Подмосковья, прямо на строительный объект. При этом мы обеспечиваем ее надежную упаковку и следим за сохранностью товара, чтобы он не потерял своих эксплуатационных свойств под воздействием атмосферных осадков или дорожных повреждений.</p>
						<p class="about__text-par">Если же вы хотите предложить нам особые условия сотрудничества, мы готовы пойти навстречу. Индивидуальный подход к каждому клиенту - вот что отличает нас от обычных магазинов стройматериалов. Обращайтесь к нам, чтобы убедиться в правдивости каждого нашего слова и найти надежного партнера для успешного ведения строительства!</p>

					</div>

				</div>	

				<div class="about__team">
					<div class="about__team-title">
						<h4 class="title">Наша команда</h4>
					</div>

					<div class="about__team-items">
						<div class="about__team-item">
							<div class="about__team-img">
								<img src="static/img/content/team1.png" alt="">
							</div>
							<div class="about__team-name">
								Прохоров Евгений Ярославович
							</div>
							<div class="about__team-pos">
								Руководитель отдела по работе с партнерами
							</div>
							<div class="about__team-phone">
								<a href="tel:+77770077182" class="team-link">+7 (777) 007-71-82</a>
							</div>
							<div class="about__team-mail">
								<a href="mailto:mail@gmail.com" class="team-link">info@site.ru</a>
							</div>
							
						</div>
						<div class="about__team-item">
							<div class="about__team-img">
								<img src="static/img/content/team2.png" alt="">
							</div>
							<div class="about__team-name">
								Прохоров Евгений Ярославович
							</div>
							<div class="about__team-pos">
								Руководитель отдела по работе с партнерами
							</div>
							<div class="about__team-phone">
								<a href="tel:+77770077182" class="team-link">+7 (777) 007-71-82</a>
							</div>
							<div class="about__team-mail">
								<a href="mailto:info@site.ru" class="team-link">info@site.ru</a>
							</div>
							
						</div>
						<div class="about__team-item">
							<div class="about__team-img">
								<img src="static/img/content/team3.png" alt="">
							</div>
							<div class="about__team-name">
								Прохоров Евгений Ярославович
							</div>
							<div class="about__team-pos">
								Руководитель отдела по работе с партнерами
							</div>
							<div class="about__team-phone">
								<a href="tel:+77770077182" class="team-link">+7 (777) 007-71-82</a>
							</div>
							<div class="about__team-mail">
								<a href="mailto:info@site.ru" class="team-link">info@site.ru</a>
							</div>
							
						</div>
						<div class="about__team-item">
							<div class="about__team-img">
								<img src="static/img/content/team4.png" alt="">
							</div>
							<div class="about__team-name">
								Прохоров Евгений Ярославович
							</div>
							<div class="about__team-pos">
								Руководитель отдела по работе с партнерами
							</div>
							<div class="about__team-phone">
								<a href="tel:+77770077182" class="team-link">+7 (777) 007-71-82</a>
							</div>
							<div class="about__team-mail">
								<a href="mailto:info@site.ru" class="team-link">info@site.ru</a>
							</div>
							
						</div>
						<div class="about__team-item">
							<div class="about__team-img">
								<img src="static/img/content/team5.png" alt="">
							</div>
							<div class="about__team-name">
								Прохоров Евгений Ярославович
							</div>
							<div class="about__team-pos">
								Руководитель отдела по работе с партнерами
							</div>
							<div class="about__team-phone">
								<a href="tel:+77770077182" class="team-link">+7 (777) 007-71-82</a>
							</div>
							<div class="about__team-mail">
								<a href="mailto:info@site.ru" class="team-link">info@site.ru</a>
							</div>
							
						</div>
						<div class="about__team-item">
							<div class="about__team-img">
								<img src="static/img/content/team6.png" alt="">
							</div>
							<div class="about__team-name">
								Прохоров Евгений Ярославович
							</div>
							<div class="about__team-pos">
								Руководитель отдела по работе с партнерами
							</div>
							<div class="about__team-phone">
								<a href="tel:+77770077182" class="team-link">+7 (777) 007-71-82</a>
							</div>
							<div class="about__team-mail">
								<a href="mailto:info@site.ru" class="team-link">info@site.ru</a>
							</div>
							
						</div>

					</div>
				</div>

			</div>

			{{> map/map }}

			<div class="padding-block"></div>

		</div>
	</div>

	<script src="https://api-maps.yandex.ru/2.1/?apikey=53ea073c-1b8a-48e2-991c-76af7816aee7&lang=ru_RU" type="text/javascript">
	</script>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>