<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}
			
			<div class="brandsPage">
				<div class="brandsPage__title">
					<h3 class="title">Бренды</h3>
				</div>
				<div class="brandsPage__desc">
					Принимая во внимание показатели успешности, высокое качество позиционных исследований, а также свежий взгляд на привычные вещи безусловно открывает новые горизонты для развития общества.
				</div>

				<div class="brandsPage__content">
				

					<div class="brandsPage__sort">
						<a href="#" class="sort-link active">Все</a>
						<a href="#" class="sort-link">A</a>
						<a href="#" class="sort-link">B</a>
						<a href="#" class="sort-link">C</a>
						<a href="#" class="sort-link">D</a>
						<a href="#" class="sort-link">E</a>
						<a href="#" class="sort-link">F</a>
						<a href="#" class="sort-link">G</a>
						<a href="#" class="sort-link">I</a>
						<a href="#" class="sort-link">J</a>
						<a href="#" class="sort-link">K</a>
						<a href="#" class="sort-link">L</a>
						<a href="#" class="sort-link">M</a>
						<a href="#" class="sort-link">N</a>
						<a href="#" class="sort-link">O</a>
						<a href="#" class="sort-link">P</a>
						<a href="#" class="sort-link">Q</a>
						<a href="#" class="sort-link">R</a>
						<a href="#" class="sort-link">S</a>
						<a href="#" class="sort-link">T</a>
						<a href="#" class="sort-link">U</a>
						<a href="#" class="sort-link">V</a>
						<a href="#" class="sort-link">W</a>
						<a href="#" class="sort-link">X</a>
						<a href="#" class="sort-link">Y</a>
						<a href="#" class="sort-link">Z</a>
						<a href="#" class="sort-link">А</a>
						<a href="#" class="sort-link">Б</a>
						<a href="#" class="sort-link">В</a>
					</div>

					<div class="brandsPage__items">
						<div class="brandsPage__item" data-letter="A">
							<div class="brandsPage__item-letter">
								A
							</div>
							<div class="brandsPage__item-elems">
								<div class="brandsPage__item-elem">
									<img src="static/img/content/br1.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="static/img/content/br2.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="static/img/content/br3.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="static/img/content/br4.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="static/img/content/br5.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="static/img/content/br6.png" alt="Бренд">
								</div>
							</div>
						</div>
						<div class="brandsPage__item" data-letter="B">
							<div class="brandsPage__item-letter">
								A
							</div>
							<div class="brandsPage__item-elems">
								<div class="brandsPage__item-elem">
									<img src="static/img/content/br2.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="static/img/content/br3.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="static/img/content/br5.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="static/img/content/br4.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="static/img/content/br6.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="static/img/content/br1.png" alt="Бренд">
								</div>
							</div>
						</div>
						<div class="brandsPage__item" data-letter="C">
							<div class="brandsPage__item-letter">
								A
							</div>
							<div class="brandsPage__item-elems">
								<div class="brandsPage__item-elem">
									<img src="static/img/content/br6.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="static/img/content/br2.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="static/img/content/br4.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="static/img/content/br3.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="static/img/content/br5.png" alt="Бренд">
								</div>
								<div class="brandsPage__item-elem">
									<img src="static/img/content/br1.png" alt="Бренд">
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>