<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}

			<div class="cart">
				<div class="cart__title">
					<h3 class="title">
						Корзина
					</h3>
				</div>

				<form action="">

					<div class="cart__items">
						<div class="cart__head">
							<span class="cart__head-item">Товар</span>
							<span class="cart__head-item cart__head-qty">Количество</span>
							<span class="cart__head-item cart__head-price">Цена за 1 шт.</span>
							<span class="cart__head-item cart__head-summ">Сумма</span>
						</div>

						<div class="cart__body">
							<div class="cart__item-back">
								<div class="bgback"></div>
								<div class="cart__item">
									<img src="static/img/content/cart1.png" alt="Товар">
									<div class="cart__item-row">
										<div class="cart__item-info">
											<a href="#" class="elem-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
											<div class="cart__item-params">
												<div class="param">
													<span>Артикул:</span>
													<p>QJY230C-E</p>
												</div>
												<div class="param">
													<span>Код:</span>
													<p>Q03943</p>
												</div>
											</div>
										</div>
										<div class="cart__item-value">
											{{> card/card-value }}
										</div>
										<div class="cart__item-price">
											<div class="price discount">
												26 000 ₽
											</div>
											<div class="old-price">
												30 000 ₽
											</div>
										</div>
										<div class="cart__item-total">
											26 000 ₽
										</div>
										<div class="cart__item-remove">
											&times;
										</div>
									</div>
								</div>
							</div>
							<div class="cart__item-back">
								<div class="bgback"></div>
								<div class="cart__item">
									<img src="static/img/content/cart2.png" alt="Товар">
									<div class="cart__item-row">
										<div class="cart__item-info">
											<a href="#" class="elem-link">Шпатлевка Vetonit LR+ (Ветонит ЛР+) Weber (Вебер)</a>
											<div class="cart__item-params">
												<div class="param">
													<span>Артикул:</span>
													<p>QJY230C-E</p>
												</div>
												<div class="param">
													<span>Код:</span>
													<p>Q03943</p>
												</div>
											</div>
										</div>
										<div class="cart__item-value">
											{{> card/card-value }}
										</div>
										<div class="cart__item-price">
											<div class="price discount">
												12 500 ₽
											</div>
											<div class="old-price">
												15 000 ₽
											</div>
										</div>
										<div class="cart__item-total">

										</div>
										<div class="cart__item-remove">
											&times;
										</div>
									</div>
								</div>
							</div>
							<div class="cart__item-back">
								<div class="bgback"></div>
								<div class="cart__item">
									<img src="static/img/content/cart3.png" alt="Товар">
									<div class="cart__item-row">
										<div class="cart__item-info">
											<a href="#" class="elem-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
											<div class="cart__item-params">
												<div class="param">
													<span>Артикул:</span>
													<p>QJY230C-E</p>
												</div>
												<div class="param">
													<span>Код:</span>
													<p>Q03943</p>
												</div>
											</div>
										</div>
										<div class="cart__item-value">
											{{> card/card-value }}
										</div>
										<div class="cart__item-price">
											<div class="price">
												750 ₽
											</div>
										</div>
										<div class="cart__item-total">

										</div>
										<div class="cart__item-remove">
											&times;
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="cart__attr">
						<div class="cart__attr-discount">
							За эту покупку вам будет начислено <b>270 баллов</b>
							<div class="cart__attr-info">
								{{Icon iconName="info"}}
							</div>
							<div class="cart__attr-tooltip">
								<div class="tooltip-pol">
									{{Icon iconName="tooltip-pol"}}
								</div>
								Текст рассказывающий о том – что такое баллы, и чем это полезно.
							</div>
						</div>

						<div class="cart__attr-full">
							<span>Итого:</span>
							<div class="result">51 750 ₽‬</div>
						</div>

						<div class="cart__attr-btn">
							<button class="order-btn">Оформить заказ</button>
						</div>

					</div>

				</form>
			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>