<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}

			<div class="cart">
				<div class="cart__title">
					<h3 class="title">
						Корзина
					</h3>
				</div>

				
				
			</div>
		</div>
		<div class="empty">
			<img src='static/img/content/empty.png' alt='картинка'>
			<div class="empty__title">
				Корзина  пуста 
			</div>
			<div class="empty__link">
				перейти в каталог
			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>