<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}
		</div>

		<div class="wrapper">
			<div class="catalog-top-title">
				Траверсы
			</div>
		</div>

		<div class="catalog">
			<div class="wrapper">
				<div class="catalog__row">
					{{> filters/filters }}

					
					<div class="catalog__products">
						<div class="ctg__feat">
							<div class="ctg__left">
								<div class="ctg__sort">
									<div class="ctg__sort-title">
										Сортировать по:
									</div>

									<div class="ctg__sort-button">
									    {{Icon iconName="arrows"}}	Цена
									</div>
									<div class="ctg__sort-button">
									    {{Icon iconName="arrows"}}	Популярное
									</div>
									
								</div>
							</div>

							<div class="ctg__right">
								<div class="ctg__grid">
									<div class="ctg__grid-title">
										Показать по: <span>40</span> {{Icon iconName="ctg-arrow-bottom"}}

										<div class="ctg-drop-down">
											<div class="ctg-drop-down-content">
												<a href="#">20</a>
												<a href="#">30</a>
												<a href="#">40</a>
												<a href="#">60</a>
												<a href="#">100</a>
											</div>
										</div>
										
									</div>

									<div class="ctg__grid-buttons">
										<a href="catalog.html" class="ctg__grid-button active">
											{{Icon iconName="grid-1"}}
										</a>
										<a href="catalog-2.html" class="ctg__grid-button">
											{{Icon iconName="grid-2"}}
										</a>
									</div>
								</div>
							</div>
						</div>

						
						<div class="ctg__content ctg__content-2">
							
							<div class="card">
								<div class="card__fav">
									{{Icon iconName="heart-plus"}}
								</div>
						<div class="card__bal">
							{{Icon iconName="balance-tov"}}
						</div>
								<div class="card__img">
									<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
									</div>

																	<div class="card__prcont">
								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__for1">
									за 1 шт
								</div>
							</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav">
									{{Icon iconName="heart-plus"}}
								</div>
						<div class="card__bal">
							{{Icon iconName="balance-tov"}}
						</div>
								<div class="card__img">
									<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
									</div>

																	<div class="card__prcont">
								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__for1">
									за 1 шт
								</div>
							</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav">
									{{Icon iconName="heart-plus"}}
								</div>
						<div class="card__bal">
							{{Icon iconName="balance-tov"}}
						</div>
								<div class="card__img">
									<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
									</div>

																	<div class="card__prcont">
								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__for1">
									за 1 шт
								</div>
							</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav">
									{{Icon iconName="heart-plus"}}
								</div>
						<div class="card__bal">
							{{Icon iconName="balance-tov"}}
						</div>
								<div class="card__img">
									<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
									</div>

																	<div class="card__prcont">
								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__for1">
									за 1 шт
								</div>
							</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav">
									{{Icon iconName="heart-plus"}}
								</div>
						<div class="card__bal">
							{{Icon iconName="balance-tov"}}
						</div>
								<div class="card__img">
									<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
									</div>

																	<div class="card__prcont">
								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__for1">
									за 1 шт
								</div>
							</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav">
									{{Icon iconName="heart-plus"}}
								</div>
						<div class="card__bal">
							{{Icon iconName="balance-tov"}}
						</div>
								<div class="card__img">
									<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
									</div>

																	<div class="card__prcont">
								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__for1">
									за 1 шт
								</div>
							</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav">
									{{Icon iconName="heart-plus"}}
								</div>
						<div class="card__bal">
							{{Icon iconName="balance-tov"}}
						</div>
								<div class="card__img">
									<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
									</div>

																	<div class="card__prcont">
								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__for1">
									за 1 шт
								</div>
							</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav">
									{{Icon iconName="heart-plus"}}
								</div>
						<div class="card__bal">
							{{Icon iconName="balance-tov"}}
						</div>
								<div class="card__img">
									<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
									</div>

																	<div class="card__prcont">
								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__for1">
									за 1 шт
								</div>
							</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav">
									{{Icon iconName="heart-plus"}}
								</div>
						<div class="card__bal">
							{{Icon iconName="balance-tov"}}
						</div>
								<div class="card__img">
									<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
									</div>

																	<div class="card__prcont">
								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__for1">
									за 1 шт
								</div>
							</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav">
									{{Icon iconName="heart-plus"}}
								</div>
						<div class="card__bal">
							{{Icon iconName="balance-tov"}}
						</div>
								<div class="card__img">
									<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
									</div>

																	<div class="card__prcont">
								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__for1">
									за 1 шт
								</div>
							</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav">
									{{Icon iconName="heart-plus"}}
								</div>
						<div class="card__bal">
							{{Icon iconName="balance-tov"}}
						</div>
								<div class="card__img">
									<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
									</div>

																	<div class="card__prcont">
								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__for1">
									за 1 шт
								</div>
							</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav">
									{{Icon iconName="heart-plus"}}
								</div>
						<div class="card__bal">
							{{Icon iconName="balance-tov"}}
						</div>
								<div class="card__img">
									<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
									</div>

																	<div class="card__prcont">
								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__for1">
									за 1 шт
								</div>
							</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav">
									{{Icon iconName="heart-plus"}}
								</div>
						<div class="card__bal">
							{{Icon iconName="balance-tov"}}
						</div>
								<div class="card__img">
									<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
									</div>

																	<div class="card__prcont">
								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__for1">
									за 1 шт
								</div>
							</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav">
									{{Icon iconName="heart-plus"}}
								</div>
						<div class="card__bal">
							{{Icon iconName="balance-tov"}}
						</div>
								<div class="card__img">
									<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
									</div>

																	<div class="card__prcont">
								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__for1">
									за 1 шт
								</div>
							</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav">
									{{Icon iconName="heart-plus"}}
								</div>
						<div class="card__bal">
							{{Icon iconName="balance-tov"}}
						</div>
								<div class="card__img">
									<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
									</div>

																	<div class="card__prcont">
								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__for1">
									за 1 шт
								</div>
							</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav">
									{{Icon iconName="heart-plus"}}
								</div>
						<div class="card__bal">
							{{Icon iconName="balance-tov"}}
						</div>
								<div class="card__img">
									<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
									</div>

																	<div class="card__prcont">
								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__for1">
									за 1 шт
								</div>
							</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav">
									{{Icon iconName="heart-plus"}}
								</div>
						<div class="card__bal">
							{{Icon iconName="balance-tov"}}
						</div>
								<div class="card__img">
									<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
									</div>

																	<div class="card__prcont">
								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__for1">
									за 1 шт
								</div>
							</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav">
									{{Icon iconName="heart-plus"}}
								</div>
						<div class="card__bal">
							{{Icon iconName="balance-tov"}}
						</div>
								<div class="card__img">
									<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
									</div>

																	<div class="card__prcont">
								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__for1">
									за 1 шт
								</div>
							</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav">
									{{Icon iconName="heart-plus"}}
								</div>
						<div class="card__bal">
							{{Icon iconName="balance-tov"}}
						</div>
								<div class="card__img">
									<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
									</div>

																	<div class="card__prcont">
								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__for1">
									за 1 шт
								</div>
							</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__fav">
									{{Icon iconName="heart-plus"}}
								</div>
						<div class="card__bal">
							{{Icon iconName="balance-tov"}}
						</div>
								<div class="card__img">
									<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
								</div>
								<div class="card__body">
									<div class="card__presence card__green">
										
										<span>В наличии</span>
									</div>

									<div class="card__title">
										<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
									</div>

																	<div class="card__prcont">
								<div class="card__price">
									4 200 ₽
								</div>

								<div class="card__for1">
									за 1 шт
								</div>
							</div>

									<div class="card__quantity">
										{{> card/card-value }}
										<div class="card__add">
											<div class="addtocart">
												{{Icon iconName="cart"}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="new">
			<div class="wrapper">
				<div class="new__title">
					<h3 class="title">Рекомендации</h3>
					<a href="#">Все рекомендации</a>
				</div>
				
				<div class="new__slider">
					<div class="swiper-container new-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
										</div>

								<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t7.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Vetonit LR+ (Ветонит ЛР+) Weber (Вебер)</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__sale">
										-30%
									</div>
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t8.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Rotband Pasta Profi (Ротбанд Паста Профи) Knauf ...</a>
										</div>

										<div class="card__price has__sale">
											4 200 ₽
											<span class="old__price">1600 ₽</span>
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t9.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Базовая Старатели</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="slider-btn new-btn-prev">
						{{Icon iconName="arrow"}}
					</div>
					<div class="slider-btn new-btn-next">
						{{Icon iconName="arrow"}}
					</div>
				</div>
			</div>
		</div>

		{{> seo/seo }}

	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>