<div class="newsPage">
	<div class="wrapper">
		
	</div>
</div>

<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}

			<div class="order__title">
				<h3 class="title">Сравнение</h3>
			</div>
			
			<div class="cmp">
				<div class="cmp__item">
					<div class="cmp__top">
						<div class="cmp__top-title">
							Удалить все из <br> списка сравнения
						</div>
						<div class="cmp__top-icon">
							{{Icon iconName="delete"}}
						</div>
					</div>
					<div class="cmp__content">
						<div class="cmp__title">
							Цена
						</div>
						<div class="cmp__desc-title">
							Технические характеристики
						</div>
						<div class="cmp__desc-item">
							Бренд
						</div>
						<div class="cmp__desc-item">
							Марка смеси
						</div>
						<div class="cmp__desc-item">
							Виды работ
						</div>
						<div class="cmp__desc-item">
							Тип объект
						</div>
						<div class="cmp__desc-item">
							Жезнеспособность раствора
						</div>
						<div class="cmp__desc-item">
							Расход воды на 1кг сухой смеси
						</div>
					</div>
				</div>
				<div class="cmp__item">
					<div class="cmp__item-top">
						<div class="cmp__item-left">
							<img src='static/img/content/cmp-1.jpg' alt='картинка'>
						</div>
						<div class="cmp__item-right">
							<div class="cmp__item-title">
								Шпатлевка Fugen (Фуген) Knauf (Кнауф)
							</div>
							<div class="cmp__item-items">
								<div class="cmp__item-item">
									<span>Артикул:</span> QJY230C-E
								</div>
								<div class="cmp__item-item">
									<span>Код:</span> 03943
								</div>
							</div>
							<div class="cmp__item-bottom">
								<a href="#" class="cmp__item-basket">
									Добавить в корзину
								</a>
								<div class="cmp__item-delete">
									Удалить
								</div>
							</div>
						</div>
					</div>
					<div class="cmp__content">
						<div class="cmp__title">
							800 ₽
						</div>
						<div class="cmp__desc-title">
						</div>
						<div class="cmp__desc-item">
							SuperFinish 
						</div>
						<div class="cmp__desc-item">
							М-150
						</div>
						<div class="cmp__desc-item">
							Для кладки, Для оштукатуривания
						</div>
						<div class="cmp__desc-item">
							Влажные помещения, Сухие помещения
						</div>
						<div class="cmp__desc-item">
							120 мин
						</div>
						<div class="cmp__desc-item">
							0,12-0,2 л
						</div>
					</div>
				</div>
				<div class="cmp__item">
					<div class="cmp__item-top">
						<div class="cmp__item-left">
							<img src='static/img/content/cmp-1.jpg' alt='картинка'>
						</div>
						<div class="cmp__item-right">
							<div class="cmp__item-title">
								Шпатлевка Fugen (Фуген) Knauf (Кнауф)
							</div>
							<div class="cmp__item-items">
								<div class="cmp__item-item">
									<span>Артикул:</span> QJY230C-E
								</div>
								<div class="cmp__item-item">
									<span>Код:</span> 03943
								</div>
							</div>
							<div class="cmp__item-bottom">
								<a href="#" class="cmp__item-basket">
									Добавить в корзину
								</a>
								<div class="cmp__item-delete">
									Удалить
								</div>
							</div>
						</div>
					</div>
					<div class="cmp__content">
						<div class="cmp__title">
							800 ₽
						</div>
						<div class="cmp__desc-title">
						</div>
						<div class="cmp__desc-item">
							SuperFinish 
						</div>
						<div class="cmp__desc-item">
							М-150
						</div>
						<div class="cmp__desc-item">
							Для кладки, Для оштукатуривания
						</div>
						<div class="cmp__desc-item">
							Влажные помещения, Сухие помещения
						</div>
						<div class="cmp__desc-item">
							120 мин
						</div>
						<div class="cmp__desc-item">
							0,12-0,2 л
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>

	{{>footer/footer}}
	<script src="https://api-maps.yandex.ru/2.1/?apikey=53ea073c-1b8a-48e2-991c-76af7816aee7&lang=ru_RU" type="text/javascript">
	</script>
	{{> bottom/bottom }}
</body>

</html>