<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}

</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}
			<div class="contacts">
				<div class="contacts__title">
					<h3 class="title">Контакты</h3>
				</div>
				<div class="contacts__items">
					<div class="contacts__info">
						<div class="contacts__info-item">
							<div class="contacts__info-left">
								Адрес:
							</div>
							<div class="contacts__info-right">
								<span>
									г. Москва, 43 км МКАД
								</span>
							</div>
						</div>
						<div class="contacts__info-item">
							<div class="contacts__info-left">
								График работы офиса:
							</div>
							<div class="contacts__info-right">
								<span>
									Ежедневно с 9:00 до 17:00
								</span>
							</div>
						</div>
						<div class="contacts__info-item">
							<div class="contacts__info-left">
								Приём заказов интернет-магазина:
							</div>
							<div class="contacts__info-right">
								<span>
									Круглосуточно
								</span>
							</div>
						</div>
						<div class="contacts__info-item">
							<div class="contacts__info-left">
								Телефоны:
							</div>
							<div class="contacts__info-right">
								<a href="tel:+74951500687">+7 (495) 150-06-87</a>
							</div>
						</div>
						<div class="contacts__info-item">
							<div class="contacts__info-left">
								Эл. почта:
							</div>
							<div class="contacts__info-right">
								<a href="mailto:automaster05@mail.ru">info@site.ru</a>
							</div>
						</div>
						<div class="contacts__info-item">
							<div class="contacts__info-left">
								Соцсети:
							</div>
							<div class="contacts__info-right">
								<div class="contacts__info-social">
									<a href="#">
										{{Icon iconName="vkcol"}}
									</a>
									<a href="#">
										{{Icon iconName="wscol"}}
									</a>
									<a href="#">
										{{Icon iconName="incol"}}
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="map" id="map" data-lng="55.624464" data-lat="37.476213" data-zoom="15" data-icon-url="static/img/general/marker.svg">
            
					</div>
				</div>

			</div>
		</div>
	</div>

	

	{{>footer/footer}}


	<script src="https://api-maps.yandex.ru/2.1/?apikey=53ea073c-1b8a-48e2-991c-76af7816aee7&lang=ru_RU" type="text/javascript">
	</script>

	{{> bottom/bottom }}
</body>

</html>