<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<main class="main">
			<div class="wrapper">
				<div class="main__slider">
					{{> main/main }}
					<div class="main-pagination"></div>
				</div>
			</div>
		</main>

        <div class="wrapper ctg-2">
            <div class="ctg-2-title">Каталог товаров</div>
            <div class="ctg-2-items">
                <div class="ctg-2-items-item">
                    <div class="ctg-2-items-item-title"><a href="#">Стройматериалы</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Гипсокартон и листовые материалы</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Сухие смеси</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Цемент, вяжущие и сыпучие материалы</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Блоки строительные</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Кирпич</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Металлопрокат</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Сетки</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Пиломатериалы</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Древесно-плитные материалы</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Клеи</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Винтовые сваи</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Песок</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Щебень</a></div>
                </div>
                <div class="ctg-2-items-item">
                    <div class="ctg-2-items-item-title"><a href="#">Изоляционные материалы</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Теплоизоляция</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Гидроизоляция</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Звукоизоляционные материалы</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Пароизоляционные и супер диффузионные пленки</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Полиэтиленовые пленки</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Самоклеящаяся пленка</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Профилированные мембраны</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Геотекстиль</a></div>
                    <div class="ctg-2-items-item-t"><a href="#">Строительные тенты</a></div>
                </div>
                <div class="ctg-2-items-item">
                    <div class="ctg-2-items-item-title">Отделочные материалы</div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Краски и лаки
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Декоративные штукатурки
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Плитка, керамогранит, мозаика, камень
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Напольные покрытия
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Обои
                    </a></div>

                </div>
                <div class="ctg-2-items-item">
                    <div class="ctg-2-items-item-title">Потолочные системы</div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Потолочные панели
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Кассетные потолки
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Реечные потолки
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Грильято
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Подвесная система
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Светильники
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Звукоизоляция потолка
                    </a></div>

                </div>
                <div class="ctg-2-items-item">
                    <div class="ctg-2-items-item-title">Сантехника, водоснабжение, канализация</div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Души и душевые кабины
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Ванны
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Аксессуары для ванной комнаты
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Раковины и комплектующие
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Смесители
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Кухонные мойки
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Мебель для ванной комнаты
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Полотенцесушители
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Инсталляции
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Водонагреватели
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Инсталляции
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Насосное оборудование
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Водонагреватели
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Дачная сантехника
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Сантехнический крепеж
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Сливы, сифоны, трапы
                    </a></div>

                </div>
                <div class="ctg-2-items-item">
                    <div class="ctg-2-items-item-title">Электрика</div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Розетки и выключатели
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Домофоны и дверные звонки
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Датчики движения и освещения
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Кабели и комплектующие
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Удлинители
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Щитки, автоматы, счетчики
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Прожекторы
                    </a></div>

                </div>
                <div class="ctg-2-items-item">
                    <div class="ctg-2-items-item-title">ЖБИ изделия</div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Колодезные элементы
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Плиты перекрытия
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Лотки теплотрасс
                    </a></div>

                </div>
                <div class="ctg-2-items-item">
                    <div class="ctg-2-items-item-title">Геоматериалы и дорожное строительство</div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Геотекстиль
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Георешетка
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Полимерные мембраны
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Гидрошпонки
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Геоматы
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Габионы и матрацы
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Дренаж и системы водоотвода
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Дренаж и системы водоотвода
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Грязезащита
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Холодный асфальт
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Тротуарная плитка
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Брусчатка
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Бордюрный камень
                    </a></div>

                </div>
                <div class="ctg-2-items-item">
                    <div class="ctg-2-items-item-title">Крепеж</div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Саморезы
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Шурупы
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Дюбели
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Анкерный крепеж
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Перфорированный крепеж
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Гвозди
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Гайки
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Шайбы
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Шпильки
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Болты
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Такелаж
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Сантехнический крепеж
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Такелаж
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Хомуты
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Скобы строительные
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Такелаж
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Скобяные изделия
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Телескопический крепеж
                    </a></div>

                </div>
                <div class="ctg-2-items-item">
                    <div class="ctg-2-items-item-title">Товары для дома, сада 
                        и отдыха
                    </div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Техника для сада
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Зимние товары
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Инструмент садовый
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Дачная сантехника
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Бассейны
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Благоустройство территории
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Товары для бани
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Спальные принадлежности
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Товары для бани
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Упаковочные материалы для переезда
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Хозяйственный инвентарь
                    </a></div>

                </div>
                <div class="ctg-2-items-item">
                    <div class="ctg-2-items-item-title">Кровля, фасад, забор</div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Кровля
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Штукатурные фасады
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Реечные фасады
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Сайдинг
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Фасадная плитка
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Фасадная доска
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Вентфасад
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Комплектующие для вентфасада
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Заборы и ограждения
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Поликарбонат
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Средства для защиты и очистки фасадов
                    </a></div>

                </div>
                <div class="ctg-2-items-item">
                    <div class="ctg-2-items-item-title">Окна, двери, лестницы</div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Двери
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Окна
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Лестницы и стремянки
                    </a></div>

                </div>
                <div class="ctg-2-items-item">
                    <div class="ctg-2-items-item-title">Инструмент и оборудование</div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Электроинструмент
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Бензопилы
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Ручной инструмент
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Измерительный инструмент
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Расходные материалы
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Строительное оборудование
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Бетономешалки
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Тепловые пушки
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Генераторы и комплектующие
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Станки
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Сварочное оборудование
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Спецодежда и средства индивидуальной защиты
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Противопожарное оборудование
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Уборка и клининг
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Садовый инструмент и техника
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Паяльное оборудование
                    </a></div>
                    <div class="ctg-2-items-item-t"><a href="#">
                        Пневмоинструмент
                    </a></div>

                </div>
            </div>
        </div>

		<div class="new">
			<div class="wrapper">
				<div class="new__title">
					<h3 class="title">Новинки</h3>
					<a href="#">Все новинки</a>
				</div>
				<div class="new__slider">
					<div class="swiper-container new-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
										</div>

								<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t7.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Vetonit LR+ (Ветонит ЛР+) Weber (Вебер)</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__sale">
										-30%
									</div>
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t8.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Rotband Pasta Profi (Ротбанд Паста Профи) Knauf ...</a>
										</div>

										<div class="card__price has__sale">
											4 200 ₽
											<span class="old__price">1600 ₽</span>
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t9.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Базовая Старатели</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="slider-btn new-btn-prev">
						{{Icon iconName="arrow"}}
					</div>
					<div class="slider-btn new-btn-next">
						{{Icon iconName="arrow"}}
					</div>
				</div>
			</div>
		</div>

		<div class="action">
			<div class="wrapper">
				<div class="action__title">
					<h3 class="title">Акции</h3>
					<a href="#">Все акции</a>
				</div>

				<div class="action__items">
					<a href="#" class="action__item">
						<div class="action__img">
							<img src="static/img/content/ac2.png" alt="Акции">
						</div>
						<h4 href="#" class="action__name">
							Как рассчитать толщину утеплителя
						</h4>
						<div class="action__desc">
							Значимость утепления частного дома вряд ли можно переоценить. Практика показывает, что в наших широтах нет таких конструкционных материалов, которые бы сами по себе могли обеспечить зданию нормальное сопротивление теплопередаче.
						</div>
						<div class="date">
							31 марта 2020
						</div>
					</a>
					<a href="#" class="action__item">
						<div class="action__img">
							<img src="static/img/content/ac1.png" alt="Акции">
						</div>
						<h4 class="action__name">
							Правильные материалы для изоляции труб
						</h4>
						<div class="action__desc">
							Подавляющее большинство домовладельцев отдаёт себе отчёт в необходимости тщательно утеплять крышу и стены своего жилища. А вот инженерным коммуникациям внимание уделяют далеко не все.
						</div>
						<div class="date">
							31 марта 2020
						</div>
					</a>
				</div>
			</div>
		</div>



	</div>

	{{>footer/footer}}
	
	{{> bottom/bottom }}
</body>

</html>