<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}
			
			
			<div class="map map-d" id="map" data-lng="55.624464" data-lat="37.476213" data-zoom="15" data-icon-url="static/img/general/marker.svg">

			</div>
			
			<script src="https://api-maps.yandex.ru/2.1/?apikey=53ea073c-1b8a-48e2-991c-76af7816aee7&lang=ru_RU" type="text/javascript">
			</script>

			<div class="del-in">
				<label>
					<span>Куда нужна доставка?</span>
					<input type="text"placeholder="Адрес доставки">
					{{Icon iconName="search"}}
				</label>
				<div class="del-in-sel">
					<span>Когда нужно доставить?</span>
					<select>
						<option>Сегодня</option>
						<option>Завтра</option>
						<option>Послезавтра или позже</option>
					</select>
				</div>
				<div class="del-in-sel">
					<span>Сколько нужно доставить</span>
					<select>
						<option>до 3кг - 3500 руб.</option>
						<option>до 5кг - 5500 руб.</option>
						<option>до 8кг - 8500 руб.</option>
					</select>
				</div>
			</div>

			<div class="delivery">
				<div class="delivery-wrapper content">
					<div class="delivery__title">
						<h3 class="title">Доставка и разгрузка по Москве 
							и Московской области</h3>
					</div>
					<div class="delivery__desc">
						<p>Минимальная стоимость доставки по Москве от 500 рублей.  Наш склад расположен на юге Москвы. Соответственно доставка по югу столицы может быть выполнена за самую минимальную сумму. </p>
						<p>Доставка груза по Москве производится грузовыми автомобилями  вместимостью 35-40 куб.м. Доставка груза производится в тот же день, если заказ поступил до 16.00 дня.</p>
						<p>Если заказ поступил после 16.00 - на следующий день. Но по согласованию с менеджером и зависимости от загруженности автотранспорта, и в случае срочной необходимости, всегда возможно найти индивидуальное решение. </p>
					</div>

					<div class="delivery__block">
						<div class="delivery__title2">Широкая география доставки</div>
						<div class="delivery__desc">
							<p>Мы сотрудничаем с транспортными организациями, что позволяет нам поставлять товар в любую точку России. В этом случае стоимость доставки определяют транспортные компании. </p>
							<p>Менеджеры могут связаться с транспортниками, чтобы уточнить, сколько будет стоить отправка по ЖД или фурой. И сообщить вам информацию о сумме и  сроках доставки. Если же ваш строительный объект находится на территории Москвы или Подмосковья, мы можем привезти ваш заказ в любое место. Или Вы можете забрать его со склада самовывозом, если этот вариант устраивает вас больше. </p>
						</div>
					</div>

				</div>

				<div class="delivery-images">
					<div class="delivery-image">
						<div class="delivery-img">
							<img src="%=static=%img/general/del/1.png" alt="Доставка">
						</div>
						<p>СДЭК</p>
					</div>
					<div class="delivery-image">
						<div class="delivery-img">
							<img src="%=static=%img/general/del/2.png" alt="Доставка">
						</div>
						<p>ЖелДорЭкспедиция</p>
					</div>
					<div class="delivery-image">
						<div class="delivery-img">
							<img src="%=static=%img/general/del/3.png" alt="Доставка">
						</div>
						<p>Мега Транс</p>
					</div>
					<div class="delivery-image">
						<div class="delivery-img">
							<img src="%=static=%img/general/del/4.png" alt="Доставка">
						</div>
						<p>Boxberry</p>
					</div>
					<div class="delivery-image">
						<div class="delivery-img">
							<img src="%=static=%img/general/del/5.png" alt="Доставка">
						</div>
						<p>Почта России</p>
					</div>
				</div>

				<div class="delivery__cont-img">
					<div class="delivery__cont-img-logo">
						<img src="static/img/content/logo.png" alt="">
					</div>
					<div class="delivery__cont-img-title">СПЕЦИАЛИЗИРОВАННЫЙ АВТОТРАНСПОРТ</div>
					<div class="delivery__cont-img-text">Наши автомобили специально приспособленны для перевозки утеплителя - вместимость кузова - 35-40 куб.м! Кузов или тентованный или глухой. <br> В дороге утпелитель не намокнет, не испачкается, не деформируется. Поломки автотранспорта исключены, все автомобили проходят обязательное ежемесячное техобслуживание.</div>
					<div class="delivery__cont-img-right">
						<img src="static/img/content/dev.png" alt="">
					</div>
				</div>

				<div class="delivery__cont">
					<div class="delivery__cont-text">
						<h1>Высокая скорость</h1>
						<p>Заказывая имеющиеся в наличии стройматериалы и утеплитель с доставкой, вы получите их в тот же день. Максимум - на следующий! Ведь наша компания располагает собственным складом и автопарком, поэтому нам не приходится заказывать транспорт в сторонней фирме, добираться на нем до незнакомого места отгрузки, и только после этого отправлять заказ клиенту. Все гораздо проще и быстрее.</p>
						<h1>Нескладские позиции теплоизоляции</h1>
						<p>Все товары размещенные на нашем сайте с ценой есть в наличии на складе. Если на нашем сайте вы видите нужный вам стройматериал, где вместо цены стоит "цена по запросу" - это значит - интересующего вас стройматериала нет в наличии на складе, но мы привезем его под заказ, и тоже сделаем это в кратчайшие сроки. </p>
						<p>Благодаря налаженным связям с производителями наша компания имеет возможность получать любые материалы вне очереди, что влияет на скорость поставки. Кстати, таким образом мы выполняем не только крупные, но и частные, а также мелкооптовые заказы. Это значительно облегчает жизнь небольших строительных фирм и частных застройщиков, являющихся нашими клиентами. Ведь с частником, обратившимся на завод, никто не будет иметь дела – ведущие производители стройматериалов работают в рамках договоров на постоянной основе с крупными дилерами.</p>
						<h1>Доступная цена доставки теплоизоляции</h1>
						<p>Наша компания зарабатывает на продаже утеплителей всех марок и сопутствующего стройматериала, поэтому доставку мы производим по себестоимости. По сути, вы платите только за бензин, а в случае необходимости - за разгрузку материала. Также вы можете заказать его подъем на нужную высоту (если вы обустраиваете верхние этажи или кровлю) - в этом случае цена будет договорной, но по-прежнему невысокой. А кран или манипулятор может предоставить наша компания.</p>
						<h1>Отсутвие минимального объема заказа</h1>
						<p>Несмотря на то, что основной специализацией нашей компании является оптовая продажа утеплителя и стройматериалов, мы выполняем и розничные заказы. При этом сохраняется оптовая цена на материал для всех! Отсутствие минимального объема заказа – еще одно преимущество сотрудничества с нашей компанией. Благодаря ему вы можете заказать стройматериалы поштучно, если желаете убедиться в их качестве, и только потом закупать нужный вам объем.</p>
						<h1>Доролнительная комплектация заказа</h1>
						<p>Еще одно преимущество работы с нашей компанией – это возможность дополнительной комплектации заказа любыми стройматериалами. К примеру, вы приобретаете у нас теплоизоляцию для фундамента. Но он еще не построен, поэтому вместе с ней вам необходимы доски, цемент, щебень, саморезы, арматура и гидроизоляционный материал для устройства ленточного фундамента. Сообщите об этом нашему менеджеру и мы привезем все необходимое за один прием. Таким образом вы сэкономите на доставке и не потратите личное время на поездку за необходимыми материалами.</p>
						<h1>Как производится доставка</h1>
						<p>При получении заявки наш менеджер перезвонит вам в ближайшее время, чтобы уточнить нюансы заказа, подтвердить комплектацию и адрес, и договориться о времени доставки. Поэтому просим вас находиться рядом с телефоном, номер которого вы указали при оформлении заявки. Если мы не сможем до вас дозвониться, машина с товаром не будет отправлена по указанному адресу.</p>
						<p>Если строящийся объект находится за городом, просим вас прислать нам на электронную почту схему проезда. Иначе наша машина может не найти вашу стройплощадку. Также важную роль играет отсутствие подъездных путей – если строящийся объект расположен вдали от дороги, или подъездные пути размыло из-за непогоды, мы доставим ваш товар без задержек, но только на другом виде транспорта. Однако предусмотреть ситуацию, когда потребуется особый транспорт, мы сможем только с вашей помощью. Поэтому просим сообщить нам о затруднениях с проездом, если они могут возникнуть, и надеемся на ваше понимание.</p>

					</div>
				</div>

			</div>

			<div class="payment">
				<div class="payment-wrapper content">
					<div class="payment__title">
						<h4 class="title">Оплата</h4>
					</div>
					<p>Чтобы заказать товар в нашей компании, вам достаточно сделать звонок или оформить заявку в интернет-магазине. Мы уточняем необходимые детали заказа, после этого мы тут же грузим утеплитель в машину и отправляемся к Вам! И только после того, как вы убедитесь в качестве товара и подтвердите его покупку, мы оформляем документы и получаем оплату за заказ.</p>
					<div class="payment__variants">
						<h4>Оплатить можно двумя способами:</h4>
						<div class="payment__variant">
							<h5>1. Безналичный расчёт</h5>
							<span class="payment__variant-text">Оплата производится путем банковского перевода на основании выставленного счета от нашей компании.</span>
						</div>
						<div class="payment__variant">
							<h5>2. Наличный расчёт</h5>
							<span class="payment__variant-text">Оплата производится наличными в нашем офисе, либо курьеру при получении товара.</span>
						</div>
					</div>

					<div class="payment__variants">
						<h4>Для получения счёта необходимо:</h4>
						<div class="payment__variants-text">
							Оформить заявку на оборудование через сайт, либо по телефону <br> 8-495-150-06-87, либо по почте info.site@mail.ru и предоставить следующую информацию:
						</div>

						<div class="payment__variant">
							<h5>Для физических лиц:</h5>
							<ul>
								<li><span>ФИО полностью;</span></li>
								<li><span>Адрес доставки;</span></li>
								<li><span>Желаемая дата доставки;</span></li>
								<li><span>Контактный телефон и адрес электронной почты.</span></li>
							</ul>
						</div>


						<div class="payment__variant">
							<h5>Для юридических лиц:</h5>
							<ul>
								<li><span>Реквизиты организации;</span></li>
								<li><span>ФИО и должность лица, имеющего право подписи;</span></li>
								<li><span>Адрес доставки;</span></li>
								<li><span>Желаемая дата доставки;</span></li>
								<li><span>Контактный телефон и адрес электронной почты.</span></li>
							</ul>
						</div>

					</div>

					<div class="payment__title">
						<h4 class="title">Покупка в кредит</h4>
					</div>

					<p>Вы можете оформить кредит на покупку продукции в нашем интернет-магазине. Для этого необходимо на карточке товара выбрать опцию «Купить в кредит», заполнить все запрашиваемые данные и оформить заказ на нашем сайте. После выполнения всех действий, с вами свяжется менеджер нашего партнера – компании «Купи в Кредит» для уточнения ваших контактных данных и проконсультирует по дальнейшим действиям.</p>
					<p>Вы можете купить в кредит любой тип продукции на нашем сайте. Данная услуга доступна для всех заказов от 3000 рублей до 200 000 рублей.</p>
					<p>Просим обратить внимание, что до зачисления денег по заказу на наш счет (ООО «РОКВУЛ») от компании «Купи в Кредит» (АО «Тинькофф Банк»), мы не сможем сформировать и отправить ваш заказ. При успешном оформлении кредита, наш менеджер дополнительно свяжется с вами и согласует условия и сроки доставки.</p>

				</div>
			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>