<div class="newsPage">
	<div class="wrapper">
		
	</div>
</div>

<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}

			<div class="wrapper-mini">
				<div class="faq">
					<div class="faq__title">
						<h4 class="title">Часто задаваемые вопросы</h4>
					</div>
					<div class="faq__items">
						<div class="faq__item">
							<div class="faq__head">
								<span>Сколько лет гарантии?</span>
								{{Icon iconName="faq-plus"}}
							</div>
							<div class="faq__body">
								<div class="faq__desc">
                                    <p>Для уточнения информации по товару вы можете связаться с нами самостоятельно, либо заказав обратный звонок.</p>

                                    <p>Наш менеджер перезвонит вам и уточнит все интересующие вас вопросы</p>
								</div>
								<div class="faq__quest">
									<span>Ответ был полезен?</span>
									<div class="faq__btn">
										Да
									</div>
									<div class="faq__btn">
										Нет
									</div>
								</div>
							</div>
						</div>
						<div class="faq__item">
							<div class="faq__head">
								<span>Как работает достава</span>
								{{Icon iconName="faq-plus"}}
							</div>
							<div class="faq__body">
								<div class="faq__desc">
									<p>Для уточнения информации по товару вы можете связаться с нами самостоятельно, либо заказав обратный звонок.
									</p>
									<p>Наш менеджер перезвонит вам и уточнит все интересующие вас вопросы</p>
								</div>
								<div class="faq__quest">
									<span>Ответ был полезен?</span>
									<div class="faq__btn">
										Да
									</div>
									<div class="faq__btn">
										Нет
									</div>
								</div>
							</div>
						</div>
						<div class="faq__item">
							<div class="faq__head">
								<span>Где посмотреть характеристики товара?
								</span>
								{{Icon iconName="faq-plus"}}
							</div>
							<div class="faq__body">
								<div class="faq__desc">
									<p>Для уточнения информации по товару вы можете связаться с нами самостоятельно, либо заказав обратный звонок.
									</p>
									<p>Наш менеджер перезвонит вам и уточнит все интересующие вас вопросы</p>
								</div>
								<div class="faq__quest">
									<span>Ответ был полезен?</span>
									<div class="faq__btn">
										Да
									</div>
									<div class="faq__btn">
										Нет
									</div>
								</div>
							</div>
						</div>
						<div class="faq__item">
							<div class="faq__head">
								<span>Как сравнить несколько товаров?
								</span>
								{{Icon iconName="faq-plus"}}
							</div>
							<div class="faq__body">
								<div class="faq__desc">
									<p>Для уточнения информации по товару вы можете связаться с нами самостоятельно, либо заказав обратный звонок.
									</p>
									<p>Наш менеджер перезвонит вам и уточнит все интересующие вас вопросы</p>
								</div>
								<div class="faq__quest">
									<span>Ответ был полезен?</span>
									<div class="faq__btn">
										Да
									</div>
									<div class="faq__btn">
										Нет
									</div>
								</div>
							</div>
						</div>
						<div class="faq__item">
							<div class="faq__head">
								<span>Где найти инструкцию к товару?
								</span>
								{{Icon iconName="faq-plus"}}
							</div>
							<div class="faq__body">
								<div class="faq__desc">
									<p>Для уточнения информации по товару вы можете связаться с нами самостоятельно, либо заказав обратный звонок.
									</p>
									<p>Наш менеджер перезвонит вам и уточнит все интересующие вас вопросы</p>
								</div>
								<div class="faq__quest">
									<span>Ответ был полезен?</span>
									<div class="faq__btn">
										Да
									</div>
									<div class="faq__btn">
										Нет
									</div>
								</div>
							</div>
						</div>
						<div class="faq__item">
							<div class="faq__head">
								<span>Я купил у вас смесь, но мне она не подошла. Могу ли я ее поменять или вернуть?
								</span>
								{{Icon iconName="faq-plus"}}
							</div>
							<div class="faq__body">
								<div class="faq__desc">
									<p>Для уточнения информации по товару вы можете связаться с нами самостоятельно, либо заказав обратный звонок.
									</p>
									<p>Наш менеджер перезвонит вам и уточнит все интересующие вас вопросы</p>
								</div>
								<div class="faq__quest">
									<span>Ответ был полезен?</span>
									<div class="faq__btn">
										Да
									</div>
									<div class="faq__btn">
										Нет
									</div>
								</div>
							</div>
						</div>
						<div class="faq__item">
							<div class="faq__head">
								<span>Я обнаружил, что товар бракованный. Как мне поступить?
								</span>
								{{Icon iconName="faq-plus"}}
							</div>
							<div class="faq__body">
								<div class="faq__desc">
									<p>Для уточнения информации по товару вы можете связаться с нами самостоятельно, либо заказав обратный звонок.
									</p>
									<p>Наш менеджер перезвонит вам и уточнит все интересующие вас вопросы</p>
								</div>
								<div class="faq__quest">
									<span>Ответ был полезен?</span>
									<div class="faq__btn">
										Да
									</div>
									<div class="faq__btn">
										Нет
									</div>
								</div>
							</div>
						</div>
						<div class="faq__item">
							<div class="faq__head">
								<span>Куда обращаться по поводу доставки  ?
								</span>
								{{Icon iconName="faq-plus"}}
							</div>
							<div class="faq__body">
								<div class="faq__desc">
									<p>Для уточнения информации по товару вы можете связаться с нами самостоятельно, либо заказав обратный звонок.
									</p>
									<p>Наш менеджер перезвонит вам и уточнит все интересующие вас вопросы</p>
								</div>
								<div class="faq__quest">
									<span>Ответ был полезен?</span>
									<div class="faq__btn">
										Да
									</div>
									<div class="faq__btn">
										Нет
									</div>
								</div>
							</div>
						</div>
						<div class="faq__item">
							<div class="faq__head">
								<span>Можно ли доверять сервису по доставке?
								</span>
								{{Icon iconName="faq-plus"}}
							</div>
							<div class="faq__body">
								<div class="faq__desc">
									<p>Для уточнения информации по товару вы можете связаться с нами самостоятельно, либо заказав обратный звонок.
									</p>
									<p>Наш менеджер перезвонит вам и уточнит все интересующие вас вопросы</p>
								</div>
								<div class="faq__quest">
									<span>Ответ был полезен?</span>
									<div class="faq__btn">
										Да
									</div>
									<div class="faq__btn">
										Нет
									</div>
								</div>
							</div>
						</div>
						<div class="faq__item">
							<div class="faq__head">
								<span>Что делать, если что-то сломалось?
								</span>
								{{Icon iconName="faq-plus"}}
							</div>
							<div class="faq__body">
								<div class="faq__desc">
									<p>Для уточнения информации по товару вы можете связаться с нами самостоятельно, либо заказав обратный звонок.
									</p>
									<p>Наш менеджер перезвонит вам и уточнит все интересующие вас вопросы</p>
								</div>
								<div class="faq__quest">
									<span>Ответ был полезен?</span>
									<div class="faq__btn">
										Да
									</div>
									<div class="faq__btn">
										Нет
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>