<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<main class="main">
			<div class="wrapper">
				<div class="main__slider">
					{{> main/main }}
					<div class="main-pagination"></div>
				</div>
			</div>
		</main>

		<div class="liders">
			<div class="wrapper">
				<div class="liders__title">
					<h3 class="title">Лидеры продаж</h3>
				</div>
				<div class="cards">
					<div class="card sale">
						<div class="card-wrap">
							<div class="card__fav">
								{{Icon iconName="heart-plus"}}
							</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
							<div class="card__img">
								<img src="static/img/content/t1.png" alt="Карточка товара">
							</div>
							<div class="card__body">
								<div class="card__presence card__green">
									
									<span>В наличии</span>
								</div>
								<!-- <div class="card__presence card__red">
									{{Icon iconName="no"}}
									<span>Нет в наличии</span>
								</div> -->

								<div class="card__title">
									<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
								</div>

								<div class="card__prcont">
						
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

								<div class="card__quantity">
									{{> card/card-value }}
									<div class="card__add">
										<div class="addtocart">
											{{Icon iconName="cart"}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-wrap">
							<div class="card__fav">
								{{Icon iconName="heart-plus"}}
							</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
							<div class="card__img">
								<img src="static/img/content/t2.png" alt="Карточка товара">
							</div>
							<div class="card__body">
								<div class="card__presence card__green">
									
									<span>В наличии</span>
								</div>
								<!-- <div class="card__presence card__red">
									{{Icon iconName="no"}}
									<span>Нет в наличии</span>
								</div> -->

								<div class="card__title">
									<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
								</div>

								<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

								<div class="card__quantity">
									{{> card/card-value }}
									<div class="card__add">
										<div class="addtocart">
											{{Icon iconName="cart"}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__sale">
							-30%
						</div>
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
						<div class="card__img">
							<img src="static/img/content/t3.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Пеноблок 100мм Bonolit Д500 (Бонолит)</a>
							</div>

							<div class="card__price has__sale">
								700 ₽
								<span class="old__price">1 200 ₽</span>
								<div class="card__for1">
									за 1 шт
								</div>
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
						<div class="card__img">
							<img src="static/img/content/t4.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Artelit RB-110 Клей для фанеры и для паркета (21кг) (33шт/под)</a>
							</div>

								<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
						<div class="card__img">
							<img src="static/img/content/t5.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Гипсокартон Волма ГКЛ Вл. 9,5мм</a>
							</div>

								<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
						<div class="card__img">
							<img src="static/img/content/t6.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
							</div>

								<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__sale">
							-30%
						</div>
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
						<div class="card__img">
							<img src="static/img/content/t7.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Шпатлевка Vetonit LR+ (Ветонит ЛР+) Weber (Вебер)</a>
							</div>

							<div class="card__price has__sale">
								700 ₽
								<span class="old__price">1 200 ₽</span>
								<div class="card__for1">
									за 1 шт
								</div>
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
						<div class="card__img">
							<img src="static/img/content/t8.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Шпатлевка Rotband Pasta Profi (Ротбанд Паста Профи) Knauf ...</a>
							</div>

								<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__sale">
							-30%
						</div>
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
						<div class="card__img">
							<img src="static/img/content/t9.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Шпатлевка Базовая Старатели</a>
							</div>

							<div class="card__price has__sale">
								700 ₽
								<span class="old__price">1 200 ₽</span>
								<div class="card__for1">
									за 1 шт
								</div>
							</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card__fav">
							{{Icon iconName="heart-plus"}}
						</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
						<div class="card__img">
							<img src="static/img/content/t10.png" alt="Карточка товара">
						</div>
						<div class="card__body">
							<div class="card__presence card__green">
								
								<span>В наличии</span>
							</div>
							<!-- <div class="card__presence card__red">
								{{Icon iconName="no"}}
								<span>Нет в наличии</span>
							</div> -->

							<div class="card__title">
								<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
							</div>

								<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

							<div class="card__quantity">
								{{> card/card-value }}
								<div class="card__add">
									<div class="addtocart">
										{{Icon iconName="cart"}}
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="wrapper calc">
			<div class="calc__container">
				<div class="calc__left">
					<div class="calc__title">Строй калькуляторы</div>
					<div class="calc__text">Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности позволяет оценить значение систем массового участия. </div>
					<button class="calc__button">Подробнее</button>
				</div>
				<div class="calc__img">
					<img src="static/img/content/calc.png" alt="">
				</div>
			</div>
		</div>

		<div class="wrapper popCats">
			<div class="popCats-title">Популярные категории</div>
			<div class="popCats-fix">
				<div class="wrapper swiper-container popCats-container">
					<div class="swiper-wrapper popCats-wrapper">
						<a href="#" class="swiper-slide popCats-slide">
							<img src="static/img/content/pop1.png" alt="">
						</a>
						<a href="#" class="swiper-slide popCats-slide">
							<img src="static/img/content/pop2.png" alt="">
						</a>
						<a href="#" class="swiper-slide popCats-slide">
							<img src="static/img/content/pop3.png" alt="">
						</a>
						<a href="#" class="swiper-slide popCats-slide">
							<img src="static/img/content/pop4.png" alt="">
						</a>
						<a href="#" class="swiper-slide popCats-slide">
							<img src="static/img/content/pop1.png" alt="">
						</a>
						<a href="#" class="swiper-slide popCats-slide">
							<img src="static/img/content/pop2.png" alt="">
						</a>
						<a href="#" class="swiper-slide popCats-slide">
							<img src="static/img/content/pop3.png" alt="">
						</a>
						<a href="#" class="swiper-slide popCats-slide">
							<img src="static/img/content/pop4.png" alt="">
						</a>
					</div>
				  </div>
				  
				<!-- Add Arrows -->
				<div class="slider-btn popCats-button-next">
					{{Icon iconName="arrow"}}
				</div>
				<div class="slider-btn popCats-button-prev">
					{{Icon iconName="arrow"}}
				</div>
			</div>
		</div>

		<div class="new">
			<div class="wrapper">
				<div class="new__title">
					<h3 class="title">Новинки</h3>
					<a href="#">Все новинки</a>
				</div>
				<div class="new__slider">
					<div class="swiper-container new-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
										</div>

								<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t7.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Vetonit LR+ (Ветонит ЛР+) Weber (Вебер)</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__sale">
										-30%
									</div>
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t8.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Rotband Pasta Profi (Ротбанд Паста Профи) Knauf ...</a>
										</div>

										<div class="card__price has__sale">
											4 200 ₽
											<span class="old__price">1600 ₽</span>
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t9.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Базовая Старатели</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="slider-btn new-btn-prev">
						{{Icon iconName="arrow"}}
					</div>
					<div class="slider-btn new-btn-next">
						{{Icon iconName="arrow"}}
					</div>
				</div>
			</div>
		</div>

		<div class="action">
			<div class="wrapper">
				<div class="action__title">
					<h3 class="title">Акции</h3>
					<a href="#">Все акции</a>
				</div>

				<div class="action__items">
					<a href="#" class="action__item">
						<div class="action__img">
							<img src="static/img/content/ac2.png" alt="Акции">
						</div>
						<h4 href="#" class="action__name">
							Как рассчитать толщину утеплителя
						</h4>
						<div class="action__desc">
							Значимость утепления частного дома вряд ли можно переоценить. Практика показывает, что в наших широтах нет таких конструкционных материалов, которые бы сами по себе могли обеспечить зданию нормальное сопротивление теплопередаче.
						</div>
						<div class="date">
							31 марта 2020
						</div>
					</a>
					<a href="#" class="action__item">
						<div class="action__img">
							<img src="static/img/content/ac1.png" alt="Акции">
						</div>
						<h4 class="action__name">
							Правильные материалы для изоляции труб
						</h4>
						<div class="action__desc">
							Подавляющее большинство домовладельцев отдаёт себе отчёт в необходимости тщательно утеплять крышу и стены своего жилища. А вот инженерным коммуникациям внимание уделяют далеко не все.
						</div>
						<div class="date">
							31 марта 2020
						</div>
					</a>
				</div>
			</div>
		</div>

		<div class="news">
			<div class="wrapper">
				<div class="news__title">
					<h3 class="title">Наши новости</h3>
					<a href="#">Все новости</a>
				</div>

				<div class="news__slider">
					<div class="swiper-container news-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="news__item">
									<div class="news__item-image">
										<img src="static/img/content/n1.png" class="swiper-lazy" alt="Новости">
									</div>
									<div class="news__item-body">
										<a href="#" class="news__item-title">
											Утепление каменного дома: колодезная кладка
										</a>
										<div class="news__item-desc">
											Каменные дома – это надёжно и солидно. Их история исчисляется веками. Армия почитателей «капитального» подхода к возведению...
										</div>
										<div class="news__item-date">
											14 марта 2020
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="news__item">
									<div class="news__item-image">
										<img src="static/img/content/n2.png" class="swiper-lazy" alt="Новости">
									</div>
									<div class="news__item-body">
										<a href="#" class="news__item-title">
											Использование строительных плёнок и мембран
										</a>
										<div class="news__item-desc">
											Очевидно, что современные технологии возведения зданий ушли далеко вперёд по сравнению с тем, как обстояли дела ещё каких-то пару десятков лет назад ...
										</div>
										<div class="news__item-date">
											16 марта 2020
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="news__item">
									<div class="news__item-image">
										<img src="static/img/content/n3.png" class="swiper-lazy" alt="Новости">
									</div>
									<div class="news__item-body">
										<a href="#" class="news__item-title">
											Утепление скважины или колодца с электрическим насосом
										</a>
										<div class="news__item-desc">
											Современная техника позволяет пробурить скважину, как на участке, так и непосредственно внутри дома, в подвале. Однако, как показывает ...
										</div>
										<div class="news__item-date">
											17 марта 2020
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="news__item">
									<div class="news__item-image">
										<img src="static/img/content/n4.png" class="swiper-lazy" alt="Новости">
									</div>
									<div class="news__item-body">
										<a href="#" class="news__item-title">
											Применение фольгированного утеплителя
										</a>
										<div class="news__item-desc">
											Современные утепляющие материалы показывают очень достойные изолирующие способности. Их работа хорошо изучена, кажется, что всё ...
										</div>
										<div class="news__item-date">
											28 марта 2020
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="news__item">
									<div class="news__item-image">
										<img src="static/img/content/n4.png" class="swiper-lazy" alt="Новости">
									</div>
									<div class="news__item-body">
										<a href="#" class="news__item-title">
											Применение фольгированного утеплителя
										</a>
										<div class="news__item-desc">
											Современные утепляющие материалы показывают очень достойные изолирующие способности. Их работа хорошо изучена, кажется, что всё ...
										</div>
										<div class="news__item-date">
											28 марта 2020
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="news__item">
									<div class="news__item-image">
										<img src="static/img/content/n4.png" class="swiper-lazy" alt="Новости">
									</div>
									<div class="news__item-body">
										<a href="#" class="news__item-title">
											Применение фольгированного утеплителя
										</a>
										<div class="news__item-desc">
											Современные утепляющие материалы показывают очень достойные изолирующие способности. Их работа хорошо изучена, кажется, что всё ...
										</div>
										<div class="news__item-date">
											28 марта 2020
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="news__item">
									<div class="news__item-image">
										<img src="static/img/content/n4.png" class="swiper-lazy" alt="Новости">
									</div>
									<div class="news__item-body">
										<a href="#" class="news__item-title">
											Применение фольгированного утеплителя
										</a>
										<div class="news__item-desc">
											Современные утепляющие материалы показывают очень достойные изолирующие способности. Их работа хорошо изучена, кажется, что всё ...
										</div>
										<div class="news__item-date">
											28 марта 2020
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="news__item">
									<div class="news__item-image">
										<img src="static/img/content/n4.png" class="swiper-lazy" alt="Новости">
									</div>
									<div class="news__item-body">
										<a href="#" class="news__item-title">
											Применение фольгированного утеплителя
										</a>
										<div class="news__item-desc">
											Современные утепляющие материалы показывают очень достойные изолирующие способности. Их работа хорошо изучена, кажется, что всё ...
										</div>
										<div class="news__item-date">
											28 марта 2020
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="news__item">
									<div class="news__item-image">
										<img src="static/img/content/n4.png" class="swiper-lazy" alt="Новости">
									</div>
									<div class="news__item-body">
										<a href="#" class="news__item-title">
											Применение фольгированного утеплителя
										</a>
										<div class="news__item-desc">
											Современные утепляющие материалы показывают очень достойные изолирующие способности. Их работа хорошо изучена, кажется, что всё ...
										</div>
										<div class="news__item-date">
											28 марта 2020
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="news__item">
									<div class="news__item-image">
										<img src="static/img/content/n4.png" class="swiper-lazy" alt="Новости">
									</div>
									<div class="news__item-body">
										<a href="#" class="news__item-title">
											Применение фольгированного утеплителя
										</a>
										<div class="news__item-desc">
											Современные утепляющие материалы показывают очень достойные изолирующие способности. Их работа хорошо изучена, кажется, что всё ...
										</div>
										<div class="news__item-date">
											28 марта 2020
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="slider-btn news-btn-next">
						{{Icon iconName="arrow"}}
					</div>
					<div class="slider-btn news-btn-prev">
						{{Icon iconName="arrow"}}
					</div>
				</div>
			</div>
		</div>

		<div class="popularCats">
			<div class="wrapper">
				<div class="popularCats__title">
					<h3 class="title">Популярные категории</h3>
				</div>
				<div class="popularCats__items">
					<div class="popularCats__item">
						<div class="popularCats__name">
							Подъемники
						</div>
						<div class="popularCats__links">
							<a href="#" class="popularCats-link">Двухстоечные</a>
							<a href="#" class="popularCats-link">Четырехстоечные</a>
							<a href="#" class="popularCats-link">Пневматические</a>
							<a href="#" class="popularCats-link">Ножничные</a>
							<a href="#" class="popularCats-link">Траверсы</a>
							<a href="#" class="popularCats-link">Подушки для подъемников</a>
							<a href="#" class="popularCats-link">Запасные части</a>
						</div>
					</div>
					<div class="popularCats__item">
						<div class="popularCats__name">
							Гаражное оборудование
						</div>
						<div class="popularCats__links">
							<a href="#" class="popularCats-link">Траверсы</a>
							<a href="#" class="popularCats-link">Краны</a>
							<a href="#" class="popularCats-link">Прессы</a>
							<a href="#" class="popularCats-link">Стойки трансмиссионные</a>
							<a href="#" class="popularCats-link">Тали и лебедки</a>
							<a href="#" class="popularCats-link">Стенды клепальные</a>
							<a href="#" class="popularCats-link">Домкраты</a>
							<a href="#" class="popularCats-link">Насосы гидравлические</a>
							<a href="#" class="popularCats-link">Насосы гидравлические</a>
							<a href="#" class="popularCats-link">Насосы гидравлические</a>
							<a href="#" class="popularCats-link">Насосы гидравлические</a>
							<a href="#" class="popularCats-link">Насосы гидравлические</a>
						</div>
					</div>
					<div class="popularCats__item">
						<div class="popularCats__name">
							Тумбы, ящики и сумки
						</div>
						<div class="popularCats__links">
							<a href="#" class="popularCats-link">Верстаки</a>
							<a href="#" class="popularCats-link">Шкафы для инструмента</a>
							<a href="#" class="popularCats-link">Сумки для инструмента</a>
							<a href="#" class="popularCats-link">Тележки инструментальные</a>
							<a href="#" class="popularCats-link">Тумбы для инструмента</a>
							<a href="#" class="popularCats-link">Ящики для инструмента</a>
							<a href="#" class="popularCats-link">Запасные части</a>
						</div>
					</div>
					<div class="popularCats__item">
						<div class="popularCats__name">
							Сварочное и зарядное оборудование
						</div>
						<div class="popularCats__links">
							<a href="#" class="popularCats-link">Сварочные полуавтоматы</a>
							<a href="#" class="popularCats-link">Сварки трансформаторые</a>
							<a href="#" class="popularCats-link">Сварки инверторные</a>
							<a href="#" class="popularCats-link">Сварки контактные</a>
							<a href="#" class="popularCats-link">Блоки жидкостного охлаждения</a>
							<a href="#" class="popularCats-link">Плазменные резаки</a>
							<a href="#" class="popularCats-link">Сварочные редукторы</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="partners">
			<div class="wrapper">
				<div class="partners__title">
					<h3 class="title">Партнеры</h3>
				</div>
				<div class="partners__slider">
					<div class="swiper-container partners-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="static/img/content/p1.png" alt="Партнеры">
							</div>
							<div class="swiper-slide">
								<img src="static/img/content/p2.png" alt="Партнеры">
							</div>
							<div class="swiper-slide">
								<img src="static/img/content/p3.png" alt="Партнеры">
							</div>
							<div class="swiper-slide">
								<img src="static/img/content/p4.png" alt="Партнеры">
							</div>
							<div class="swiper-slide">
								<img src="static/img/content/p5.png" alt="Партнеры">
							</div>
							<div class="swiper-slide">
								<img src="static/img/content/p6.png" alt="Партнеры">
							</div>
							<div class="swiper-slide">
								<img src="static/img/content/p7.png" alt="Партнеры">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{{> seo/seo }}

	</div>

	{{>footer/footer}}
	
	{{> bottom/bottom }}
</body>

</html>