<div class="newsPage">
	<div class="wrapper">
		
	</div>
</div>

<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}

			<div class="lk">
				<div class="lk__title">
					<h3 class="title">Личный кабинет</h3>
				</div>
				<div class="lk__items">
					<ul class="lk__list">
						<li class="lk__list-item">
							<a href="#" class="lk__list-link">
								История заказов
							</a>
						</li>
						<li class="lk__list-item">
							<a href="#" class="lk__list-link">
								Личные данные
							</a>
						</li>
						<li class="lk__list-item">
							<a href="#" class="lk__list-link active">
								Избранное
							</a>
						</li>
					</ul>

				</div>

				<div class="lk__tab active"> <!-- Таб история заказов -->
					<div class="lk__tab-cards">
                        <div class="cards">
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__fav">
                                    {{Icon iconName="heart-plus"}}
                                </div>
                                    <div class="card__bal">
                                        {{Icon iconName="balance-tov"}}
                                    </div>
                                <div class="card__img">
                                    <img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
                                </div>
                                <div class="card__body">
                                    <div class="card__presence card__green">
                                        
                                        <span>В наличии</span>
                                    </div>
    
                                    <div class="card__title">
                                        <a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
                                    </div>
    
                                        <div class="card__prcont">
                                            <div class="card__price">
                                                4 200 ₽
                                            </div>
    
                                            <div class="card__for1">
                                                за 1 шт
                                            </div>
                                        </div>
    
                                    <div class="card__quantity">
                                        {{> card/card-value }}
                                        <div class="card__add">
                                            <div class="addtocart">
                                                {{Icon iconName="cart"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>

				<div class="lk__tab"> <!-- Таб личные данные -->
					<div class="lk__form">
						<form action="">
							<div class="lk__form-row">
								<div class="lk__form-col lk__form-col1">
									<label class="lk__form-label">
										<span>Фамилия:</span>
										<input type="text" class="lk__form-input">
									</label>
									<label class="lk__form-label">
										<span>Имя:</span>
										<input type="text" class="lk__form-input">
									</label>
									<label class="lk__form-label">
										<span>Отчество:</span>
										<input type="text" class="lk__form-input">
									</label>
								</div>
								<div class="lk__form-col lk__form-col2">
									<label class="lk__form-label">
										<span>Номер телефона:</span>
										<input type="text" class="lk__form-input">
									</label>
									<label class="lk__form-label">
										<span>Электронная почта:</span>
										<input type="text" class="lk__form-input">
									</label>
									<label class="lk__form-label">
										<span>Пароль:</span>
										<span class="change-pass" data-popup-open="popup__drop">
											Сменить пароль
										</span>
									</label>
								</div>
							</div>

							<div class="lk__form-address">
								<div class="lk__form-title">
									Адрес доставки
								</div>
								<div class="lk__form-row">
									<div class="lk__form-col lk__form-col1">
										<label class="lk__form-label">
											<span>Регион:</span>
											<input type="text" class="lk__form-input">
										</label>
										<label class="lk__form-label">
											<span>Улица:</span>
											<input type="text" class="lk__form-input">
										</label>
									</div>
									<div class="lk__form-col lk__form-col2">
										<label class="lk__form-label">
											<span>Город:</span>
											<input type="text" class="lk__form-input">
										</label>
										<label class="lk__form-label">
											<span>Дом:</span>
											<input type="text" class="lk__form-input">
										</label>
									</div>
								</div>
							</div>

							<div class="lk__form-btns">
								<button class="save">
									Сохранить
								</button>
								<a href="#" class="cancel">Отменить изменения</a>
							</div>
						</form>
					</div>
				</div>

				<div class="lk__tab "> <!-- Таб избранное -->
					
				</div>

			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>