<div class="newsPage">
	<div class="wrapper">
		
	</div>
</div>

<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}
		</div>

		<div class="newsPage">
			<div class="wrapper">
				<div class="newsPage__title">
					<h3 class="title">Новости</h3>
				</div>

				<div class="newsPage__row">
					<div class="newsPage__left">
						<div class="newsPage__items">
							<div class="news__item">
								<div class="news__item-image">
									<img src="static/img/content/new1.png" alt="Новости">
								</div>
								<div class="news__item-body">
									<a href="#" class="news__item-title">
										Утепление каменного дома: колодезная кладка
									</a>
									<div class="news__item-desc">
										Каменные дома – это надёжно и солидно. Их история исчисляется веками. Армия почитателей «капитального» подхода к возведению...
									</div>
									<div class="news__item-date">
										14 марта 2020
									</div>
								</div>
							</div>
							<div class="news__item">
								<div class="news__item-image">
									<img src="static/img/content/new2.png" alt="Новости">
								</div>
								<div class="news__item-body">
									<a href="#" class="news__item-title">
										Использование строительных плёнок и мембран
									</a>
									<div class="news__item-desc">
										Очевидно, что современные технологии возведения зданий ушли далеко вперёд по сравнению с тем, как обстояли дела ещё каких-то пару десятков лет назад ...
									</div>
									<div class="news__item-date">
										16 марта 2020
									</div>
								</div>
							</div>
							<div class="news__item">
								<div class="news__item-image">
									<img src="static/img/content/new3.png" alt="Новости">
								</div>
								<div class="news__item-body">
									<a href="#" class="news__item-title">
										Применение фольгированного утеплителя
									</a>
									<div class="news__item-desc">
										Современные утепляющие материалы показывают очень достойные изолирующие способности. Их работа хорошо изучена, кажется, что всё ...
									</div>
									<div class="news__item-date">
										28 марта 2020
									</div>
								</div>
							</div>
							<div class="news__item">
								<div class="news__item-image">
									<img src="static/img/content/new1.png" alt="Новости">
								</div>
								<div class="news__item-body">
									<a href="#" class="news__item-title">
										Утепление каменного дома: колодезная кладка
									</a>
									<div class="news__item-desc">
										Каменные дома – это надёжно и солидно. Их история исчисляется веками. Армия почитателей «капитального» подхода к возведению...
									</div>
									<div class="news__item-date">
										14 марта 2020
									</div>
								</div>
							</div>
							<div class="news__item">
								<div class="news__item-image">
									<img src="static/img/content/new2.png" alt="Новости">
								</div>
								<div class="news__item-body">
									<a href="#" class="news__item-title">
										Использование строительных плёнок и мембран
									</a>
									<div class="news__item-desc">
										Очевидно, что современные технологии возведения зданий ушли далеко вперёд по сравнению с тем, как обстояли дела ещё каких-то пару десятков лет назад ...
									</div>
									<div class="news__item-date">
										16 марта 2020
									</div>
								</div>
							</div>
							<div class="news__item">
								<div class="news__item-image">
									<img src="static/img/content/new3.png" alt="Новости">
								</div>
								<div class="news__item-body">
									<a href="#" class="news__item-title">
										Применение фольгированного утеплителя
									</a>
									<div class="news__item-desc">
										Современные утепляющие материалы показывают очень достойные изолирующие способности. Их работа хорошо изучена, кажется, что всё ...
									</div>
									<div class="news__item-date">
										28 марта 2020
									</div>
								</div>
							</div>
							<div class="news__item">
								<div class="news__item-image">
									<img src="static/img/content/new1.png" alt="Новости">
								</div>
								<div class="news__item-body">
									<a href="#" class="news__item-title">
										Утепление каменного дома: колодезная кладка
									</a>
									<div class="news__item-desc">
										Каменные дома – это надёжно и солидно. Их история исчисляется веками. Армия почитателей «капитального» подхода к возведению...
									</div>
									<div class="news__item-date">
										14 марта 2020
									</div>
								</div>
							</div>
							<div class="news__item">
								<div class="news__item-image">
									<img src="static/img/content/new2.png" alt="Новости">
								</div>
								<div class="news__item-body">
									<a href="#" class="news__item-title">
										Использование строительных плёнок и мембран
									</a>
									<div class="news__item-desc">
										Очевидно, что современные технологии возведения зданий ушли далеко вперёд по сравнению с тем, как обстояли дела ещё каких-то пару десятков лет назад ...
									</div>
									<div class="news__item-date">
										16 марта 2020
									</div>
								</div>
							</div>
							<div class="news__item">
								<div class="news__item-image">
									<img src="static/img/content/new3.png" alt="Новости">
								</div>
								<div class="news__item-body">
									<a href="#" class="news__item-title">
										Применение фольгированного утеплителя
									</a>
									<div class="news__item-desc">
										Современные утепляющие материалы показывают очень достойные изолирующие способности. Их работа хорошо изучена, кажется, что всё ...
									</div>
									<div class="news__item-date">
										28 марта 2020
									</div>
								</div>
							</div>
							<div class="news__item">
								<div class="news__item-image">
									<img src="static/img/content/new1.png" alt="Новости">
								</div>
								<div class="news__item-body">
									<a href="#" class="news__item-title">
										Утепление каменного дома: колодезная кладка
									</a>
									<div class="news__item-desc">
										Каменные дома – это надёжно и солидно. Их история исчисляется веками. Армия почитателей «капитального» подхода к возведению...
									</div>
									<div class="news__item-date">
										14 марта 2020
									</div>
								</div>
							</div>
							<div class="news__item">
								<div class="news__item-image">
									<img src="static/img/content/new2.png" alt="Новости">
								</div>
								<div class="news__item-body">
									<a href="#" class="news__item-title">
										Использование строительных плёнок и мембран
									</a>
									<div class="news__item-desc">
										Очевидно, что современные технологии возведения зданий ушли далеко вперёд по сравнению с тем, как обстояли дела ещё каких-то пару десятков лет назад ...
									</div>
									<div class="news__item-date">
										16 марта 2020
									</div>
								</div>
							</div>
							<div class="news__item">
								<div class="news__item-image">
									<img src="static/img/content/new3.png" alt="Новости">
								</div>
								<div class="news__item-body">
									<a href="#" class="news__item-title">
										Применение фольгированного утеплителя
									</a>
									<div class="news__item-desc">
										Современные утепляющие материалы показывают очень достойные изолирующие способности. Их работа хорошо изучена, кажется, что всё ...
									</div>
									<div class="news__item-date">
										28 марта 2020
									</div>
								</div>
							</div>
							<div class="news__item">
								<div class="news__item-image">
									<img src="static/img/content/new1.png" alt="Новости">
								</div>
								<div class="news__item-body">
									<a href="#" class="news__item-title">
										Утепление каменного дома: колодезная кладка
									</a>
									<div class="news__item-desc">
										Каменные дома – это надёжно и солидно. Их история исчисляется веками. Армия почитателей «капитального» подхода к возведению...
									</div>
									<div class="news__item-date">
										14 марта 2020
									</div>
								</div>
							</div>
							<div class="news__item">
								<div class="news__item-image">
									<img src="static/img/content/new2.png" alt="Новости">
								</div>
								<div class="news__item-body">
									<a href="#" class="news__item-title">
										Использование строительных плёнок и мембран
									</a>
									<div class="news__item-desc">
										Очевидно, что современные технологии возведения зданий ушли далеко вперёд по сравнению с тем, как обстояли дела ещё каких-то пару десятков лет назад ...
									</div>
									<div class="news__item-date">
										16 марта 2020
									</div>
								</div>
							</div>
							<div class="news__item">
								<div class="news__item-image">
									<img src="static/img/content/new3.png" alt="Новости">
								</div>
								<div class="news__item-body">
									<a href="#" class="news__item-title">
										Применение фольгированного утеплителя
									</a>
									<div class="news__item-desc">
										Современные утепляющие материалы показывают очень достойные изолирующие способности. Их работа хорошо изучена, кажется, что всё ...
									</div>
									<div class="news__item-date">
										28 марта 2020
									</div>
								</div>
							</div>
						</div>

						{{> pag/pag }}
					</div>
					<div class="newsPage__right">
						<div class="subscribe">
							<h4>Подпишитесь на рассылку</h4>
							<form action="" class="subscribe-form form">
								<input type="text" name="mail" class="subscribe-input" placeholder="Эл. почта">
								<button class="subscribe-btn red-btn">Подписаться</button>
							</form>
						</div>

						<div class="similar">
							<h4>Популярные новости</h4>
							<div class="similar-item">
								<a href="#" class="similar-link">
									Прототип нового сервиса - это как глас грядущего поколения
								</a>
								<div class="date">
									12 марта 2020
								</div>
							</div>
							<div class="similar-item">
								<a href="#" class="similar-link">
									Политика не может не реагировать на грохот грома градущих изменений
								</a>
								<div class="date">
									8 марта 2020
								</div>
							</div>
							<div class="similar-item">
								<a href="#" class="similar-link">
									Франция намерена исследовать, почему частокол на границе починят
								</a>
								<div class="date">
									2 марта 2020
								</div>
							</div>
							<div class="similar-item">
								<a href="#" class="similar-link">
									Допустим, был сорван доклад председателя совхоза
								</a>
								<div class="date">
									1 марта 2020
								</div>
							</div>
							<div class="similar-item">
								<a href="#" class="similar-link">
									Инцидент не исчерпан: в провинциях ещё есть чем поживиться
								</a>
								<div class="date">
									29 февраля 2020
								</div>
							</div>

						</div>
					</div>
				</div>

				{{> seo/seo }}


			</div>
		</div>
	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>