<div class="newsPage">
	<div class="wrapper">
		
	</div>
</div>

<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}
			
			<div class="order">
				<div class="order__title">
					<h3 class="title">Оформление заказа</h3>
				</div>

				<div class="order__items">
					<div class="order__left">
						<div class="order__without order-without-1">
							<div class="order__form order-form-1">
								<form action="" id="order">
									<div class="order__form-title">
										Выберите способ доставки
									</div>
									<div class="map" id="map" data-lng="55.624464" data-lat="37.476213" data-zoom="15" data-icon-url="static/img/general/marker.svg">
									</div>

									<div class="morder__item">
										<div class="morder__item-content">
											<label class="morder__onecheck">
												<input type="checkbox">
												<div>
													{{Icon iconName="radio"}}
												</div>
												<p>
													Есть ограничения по высоте (арка, подземный паркинг)?
												</p>
											</label>
										</div>
									</div>
									<div class="morder__item">
										<div class="morder__item-title">
											Куда нужна доставка?
										</div>
										<div class="morder__item-content">
											<div class="morder__deliv">
												<input type="text" placeholder="Адрес доставки">
												<button class="morder__deliv-icon">
													{{Icon iconName="deliv-search"}}
												</button>
											</div>
										</div>
									</div>
									<div class="morder__item">
										<div class="morder__item-title">
											Мастер на этом адресе
										</div>
										<div class="morder__item-content">
											<div class="morder__field-row">
												<input type="text">
												<input type="text" name="phone" class="order-input phone-mask" value="">
											</div>
											<textarea name="" id="" cols="30" rows="10" placeholder="Комментарий водителю"></textarea>
										</div>
									</div>
									<div class="morder__item">
										<div class="morder__item-title">
											День доставки
										</div>
										<div class="morder__item-content">
											<div class="morder__days">
												<label class="morder__day">
													<input type="radio" name="radio2">
													<div class="morder__day-content">
														<div class="morder__day-title">
															22
														</div>
														<div class="morder__day-desc">
															января
														</div>
														<div class="morder__day-text">
															Сегодня
														</div>
													</div>
												</label>
												<label class="morder__day">
													<input type="radio" name="radio2">
													<div class="morder__day-content">
														<div class="morder__day-title">
															23
														</div>
														<div class="morder__day-desc">
															января
														</div>
														<div class="morder__day-text">
															Завтра
														</div>
													</div>
												</label>
												<label class="morder__day">
													<input type="radio" name="radio2">
													<div class="morder__day-content">
														<div class="morder__day-title">
															24
														</div>
														<div class="morder__day-desc">
															января
														</div>
														<div class="morder__day-text">
															Вс
														</div>
													</div>
												</label>
												<label class="morder__day">
													<input type="radio" name="radio2">
													<div class="morder__day-content">
														<div class="morder__day-title">
															25
														</div>
														<div class="morder__day-desc">
															января
														</div>
														<div class="morder__day-text">
															ПН
														</div>
													</div>
												</label>
												<label class="morder__day">
													<input type="radio" name="radio2">
													<div class="morder__day-content">
														<div class="morder__day-title">
															26
														</div>
														<div class="morder__day-desc">
															января
														</div>
														<div class="morder__day-text">
															Вс
														</div>
													</div>
												</label>
												<label class="morder__day">
													<input type="radio" name="radio2">
													<div class="morder__day-content">
														<div class="morder__day-title">
															27
														</div>
														<div class="morder__day-desc">
															января
														</div>
														<div class="morder__day-text">
															ПН
														</div>
													</div>
												</label>
											</div>
										</div>
									</div>
									<div class="morder__item">
										<div class="morder__item-title">
											Время доставки
										</div>
										<div class="morder__item-content">
											<div class="morder-radio-content">
												<label class="morder-radio">
													<input type="radio" name="radio1">
													<div>
														{{Icon iconName="radio"}}
													</div>
													<p>
														В течение дня 
													</p>
												</label>
												<div class="morder-radio-open">
													<select class="nice-select">
														<option>Выберите удобное для вас время</option>
														<option>09:00 - 18:00</option>
														<option>11:00 - 20:00</option>
														<option>13:00 - 22:00</option>
													</select>
												</div>
											</div>
											<div class="morder-radio-content">
												<label class="morder-radio">
													<input type="radio" name="radio1">
													<div>
														{{Icon iconName="radio"}}
													</div>
													<p>
														Стандартнаая доставка
													</p>
												</label>
												<div class="morder-radio-open">
													<select class="nice-select">
														<option>Выберите удобное для вас время</option>
														<option data-value="00.00 - 04.00" value="С0000До0400">00.00 - 04.00</option><option data-value="00.30 - 04.30" value="С0030До0430">00.30 - 04.30</option><option data-value="01.00 - 05.00" value="С01До05">01.00 - 05.00</option><option data-value="01.30 - 05.30" value="С0130До0530">01.30 - 05.30</option><option data-value="02.00 - 06.00" value="С02До06">02.00 - 06.00</option><option data-value="02.30 - 06.30" value="С0230До0630">02.30 - 06.30</option><option data-value="03.00 - 07.00" value="С03До07">03.00 - 07.00</option><option data-value="03.30 - 07.30" value="С0330До0730">03.30 - 07.30</option><option data-value="04.00 - 08.00" value="С0400До0800">04.00 - 08.00</option><option data-value="04.30 - 08.30" value="С0430До0830">04.30 - 08.30</option><option data-value="05.00 - 09.00" value="С0500До0900">05.00 - 09.00</option><option data-value="05.30 - 09.30" value="С0530До0930">05.30 - 09.30</option><option data-value="06.00 - 10.00" value="С0600До1000">06.00 - 10.00</option><option data-value="06.30 - 10.30" value="С0630До1030">06.30 - 10.30</option><option data-value="07.00 - 11.00" value="С0700До1100">07.00 - 11.00</option><option data-value="07.30 - 11.30" value="С0730До1130">07.30 - 11.30</option><option data-value="08.00 - 12.00" value="С08До12">08.00 - 12.00</option><option data-value="08.30 - 12.30" value="С0830До1230">08.30 - 12.30</option><option data-value="09.00 - 13.00" value="С09До13">09.00 - 13.00</option><option data-value="09.30 - 13.30" value="С0930До1330">09.30 - 13.30</option><option data-value="10.00 - 14.00" value="С10До14">10.00 - 14.00</option><option data-value="10.30 - 14.30" value="С1030До1430">10.30 - 14.30</option><option data-value="11.00 - 15.00" value="С11До15">11.00 - 15.00</option><option data-value="11.30 - 15.30" value="С1130До1530">11.30 - 15.30</option><option data-value="12.00 - 16.00" value="С12До16">12.00 - 16.00</option><option data-value="12.30 - 16.30" value="С1230До1630">12.30 - 16.30</option><option data-value="13.00 - 17.00" value="С13До17">13.00 - 17.00</option><option data-value="13.30 - 17.30" value="С1330До1730">13.30 - 17.30</option><option data-value="14.00 - 18.00" value="С14До18">14.00 - 18.00</option><option data-value="14.30 - 18.30" value="С1430До1830">14.30 - 18.30</option><option data-value="15.00 - 19.00" value="С15До19">15.00 - 19.00</option><option data-value="15.30 - 19.30" value="С1530До1930">15.30 - 19.30</option><option data-value="16.00 - 20.00" value="С16До20">16.00 - 20.00</option><option data-value="16.30 - 20.30" value="С1630До2030">16.30 - 20.30</option><option data-value="17.00 - 21.00" value="С17До21">17.00 - 21.00</option><option data-value="17.30 - 21.30" value="С1730До2130">17.30 - 21.30</option><option data-value="18.00 - 22.00" value="С18До22">18.00 - 22.00</option><option data-value="18.30 - 22.30" value="С1830До2230">18.30 - 22.30</option><option data-value="19.00 - 23.00" value="С19До23">19.00 - 23.00</option><option data-value="19.30 - 23.30" value="С1930До2330">19.30 - 23.30</option><option data-value="20.00 - 24.00" value="С20До24">20.00 - 24.00</option><option data-value="20.30 - 00.30" value="С2030До0030">20.30 - 00.30</option><option data-value="21.00 - 01.00" value="С21До01">21.00 - 01.00</option><option data-value="21.30 - 01.30" value="С2130До0130">21.30 - 01.30</option><option data-value="22.00 - 02.00" value="С22До02">22.00 - 02.00</option><option data-value="22.30 - 02.30" value="С2230До0230">22.30 - 02.30</option><option data-value="23.00 - 03.00" value="С23До03">23.00 - 03.00</option><option data-value="23.30 - 03.30" value="С2330До0330">23.30 - 03.30</option>
													</select>
												</div>
											</div>
											<div class="morder-radio-content">
												<label class="morder-radio">
													<input type="radio" name="radio1">
													<div>
														{{Icon iconName="radio"}}
													</div>
													<p>
														Экспресс доставка
													</p>
												</label>
											</div>
											<div class="morder-radio-content">
												<label class="morder-radio">
													<input type="radio" class="time-radio" name="radio1">
													<div>
														{{Icon iconName="radio"}}
													</div>
													<p>
														Точно ко времени  
													</p>
												</label>
												<div class="morder-radio-open">
													<input type="text" class="time-mask morder-radio-field" placeholder="00:00" inputmode="numeric">
												</div>
											</div>
											<div class="morder-radio-content">
												<label class="morder-radio">
													<input type="radio" class="time-radio" name="radio1">
													<div>
														{{Icon iconName="radio"}}
													</div>
													<p>
														Курьерская доставка  
													</p>
												</label>
												<div class="morder-radio-open">
													<input type="text" class="time-mask morder-radio-field" placeholder="00:00" inputmode="numeric">
													<input type="text" class=" morder-radio-field" placeholder="Укажите этаж" inputmode="numeric">

												</div>
											</div>
										</div>
									</div>
									<div class="morder__item">
										<div class="morder__item-title">
											Выбор авто
										</div>
										<div class="morder__item-content">
											<div class="morder-radio-content">
												<label class="morder-radio">
													<input type="radio" name="radio2">
													<div>
														{{Icon iconName="radio"}}
													</div>
													<p>
														Легковое
													</p>
												</label>
											</div>
											<div class="morder-radio-content">
												<label class="morder-radio">
													<input type="radio" name="radio2">
													<div>
														{{Icon iconName="radio"}}
													</div>
													<p>
														Портер
													</p>
												</label>
											</div>
											<div class="morder-radio-content">
												<label class="morder-radio">
													<input type="radio" name="radio2">
													<div>
														{{Icon iconName="radio"}}
													</div>
													<p>
														Газель
													</p>
												</label>
											</div>
											<div class="morder-radio-content">
												<label class="morder-radio">
													<input type="radio" name="radio2">
													<div>
														{{Icon iconName="radio"}}
													</div>
													<p>
														Машина 5 тонн
													</p>
												</label>
											</div>
											<div class="morder-radio-content">
												<label class="morder-radio">
													<input type="radio" name="radio2">
													<div>
														{{Icon iconName="radio"}}
													</div>
													<p>
														Машина 10 тонн
													</p>
												</label>
											</div>
											<div class="morder-radio-content">
												<label class="morder-radio">
													<input type="radio" name="radio2">
													<div>
														{{Icon iconName="radio"}}
													</div>
													<p>
														Машина 20 тонн
													</p>
												</label>
											</div>
										</div>
									</div>
									<div class="morder__item">
										<div class="morder__item-title">
											Дополнительные услуги
										</div>
										<div class="morder__item-content">
											
											<div class="morder-checkbox-content">
												<label class="morder-check">
													<input type="checkbox" class="morder-check-raz">
													<div>
														{{Icon iconName="checkbox-1"}}
													</div>
													<p>
														Подъем на этаж
													</p>
												</label>
												<div class="morder-radio-open pet">
													<input type="text" class="morder-radio-field pet-inp" placeholder="Укажите этаж" inputmode="numeric">
													<div class="pet-left">
														<label class="torder-check">
															<input type="checkbox">
															<div>
																{{Icon iconName="checkbox-1"}}
															</div>
															<p>
																Лифт
															</p>
														</label>
														<label class="torder-check">
															<input type="checkbox">
															<div>
																{{Icon iconName="checkbox-1"}}
															</div>
															<p>
																Грузовой лифт
															</p>
														</label>
														<label class="torder-check">
															<input type="checkbox">
															<div>
																{{Icon iconName="checkbox-1"}}
															</div>
															<p>
																Технический этаж
															</p>
														</label>
													</div>
													<label class="torder-check pet-sto">
														<input type="checkbox" class="t-m">
														<div>
															{{Icon iconName="checkbox-1"}}
														</div>
														<p>
															Грузчикам нужно нести заказ <br>
															от машины до вас дальше 50 метров?
														</p>
													</label>
													<input type="text" class="morder-radio-field t-m-i pet-sto" disabled placeholder="100" inputmode="numeric">
												</div>
											</div>
											<div class="morder-checkbox-content">
												<label class="morder-check ">
													<input type="checkbox" class="morder-check-raz1">
													<div>
														{{Icon iconName="checkbox-1"}}
													</div>
													<p>
														Разгрузка
													</p>
												</label>
											</div>
											<div class="morder-checkbox-content">
												<label class="morder-check">
													<input type="checkbox">
													<div>
														{{Icon iconName="checkbox-1"}}
													</div>
													<p>
														Манипулятор
													</p>
												</label>
											</div>
											<div class="morder-checkbox-content">
												<label class="morder-check">
													<input type="checkbox">
													<div>
														{{Icon iconName="checkbox-1"}}
													</div>
													<p>
														Вывоз мусора
													</p>
												</label>
												<div class="morder-radio-open">
													<textarea placeholder="Коментарий"></textarea>
													<div class="morder-radio-desc">
														Осуществляется нашим партнером. Наш специалист позвонит Вам для оформления услуги.
													</div>
												</div>
											</div>
											<div class="morder-checkbox-content">
												<label class="morder-check">
													<input type="checkbox">
													<div>
														{{Icon iconName="checkbox-1"}}
													</div>
													<p>
														Возврат товара
													</p>
												</label>
												<div class="morder-radio-open">
													<textarea placeholder="Коментарий"></textarea>
													<div class="morder-radio-desc">
														Наш специалист позвонит Вам для оформления услуги.
													</div>
												</div>
											</div>
											<div class="morder-checkbox-content">
												<label class="morder-check">
													<input type="checkbox">
													<div>
														{{Icon iconName="checkbox-1"}}
													</div>
													<p>
														Аренда оборудования
													</p>
												</label>
												<div class="morder-radio-open">
													<textarea placeholder="Коментарий"></textarea>
													<div class="morder-radio-desc">
														Наш специалист позвонит Вам для оформления услуги.
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="morder__item">
										<textarea placeholder="Комментарий к заказу"></textarea>
									</div>
									<label class="morder-check">
										<input type="checkbox">
										<div>
											{{Icon iconName="checkbox"}}
										</div>
										<p>
											Я согласен получать информацию о скидках и специальных предложениях на указанный мной e-mail и телефон.
										</p>
									</label>
									<div class="cart__attr-btn">
										<button class="order-btn">Оформить заказ</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="order__right">
						<div class="order__right-head">
							<span>Ваш заказ</span>
						</div>
						<div class="order__right-item">
							<div class="order__right-image">
								<img src="static/img/content/or1.png" alt="">
							</div>
							<div class="order__right-info">
								<a href="#" class="item-link">
									Шпаклевка полимерная SuperFinish (СуперФиниш) ...
								</a>
								<div class="item-price">
									26 000 ₽
								</div>
							</div>
							<div class="cart__item-remove">
								×
							</div>
						</div>
						<div class="order__right-item">
							<div class="order__right-image">
								<img src="static/img/content/or2.png" alt="">
							</div>
							<div class="order__right-info">
								<a href="#" class="item-link">
									Пеноблок 100мм Bonolit Д500 (Бонолит)
								</a>
								<div class="item-price">
									25 000 ₽
								</div>
							</div>
							<div class="cart__item-remove">
								×
							</div>
						</div>
						<div class="order__right-item">
							<div class="order__right-image">
								<img src="static/img/content/or3.png" alt="">
							</div>
							<div class="order__right-info">
								<a href="#" class="item-link">
									Artelit RB-110 Клей для фанеры и для паркета (21кг) (33шт/под)
								</a>
								<div class="item-price">
									750 ₽
								</div>
							</div>
							<div class="cart__item-remove">
								×
							</div>
						</div>

						<div class="order-info">
							<div class="order-info-item">
								<span>Вес:</span> 4 кг
							</div>
							<div class="order-info-item">
								<span>Объем:</span> 50
							</div>
						</div>

						<div class="order-itog">
							<div class="order-itog-item">
								<span>Сумма заказа:</span> <p>1 150  ₽</p>
							</div>
							<div class="order-itog-item">
								<span>Доставка:</span> <p>1 150  ₽</p>
							</div>
						</div>

						<div class="order__right-result">
							<span>Итого:</span>
							<p class="order__result">51 750 ₽‬</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	{{>footer/footer}}
	<script src="https://api-maps.yandex.ru/2.1/?apikey=53ea073c-1b8a-48e2-991c-76af7816aee7&lang=ru_RU" type="text/javascript">
	</script>
	{{> bottom/bottom }}
</body>

</html>