<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

        {{> header/header}}

        <div class="bg">
            <div class="wrapper">
                {{> bread/bread}}
            </div>
            <div class="part">
                <div class="partners">
                    <div class="wrapper">
                        <div class="partner__title">
                            <h3 class="title">Партнеры</h3>
                        </div>
                        <div class="part-text">
                            Принимая во внимание показатели успешности, высокое качество позиционных исследований, а также свежий взгляд на привычные вещи безусловно открывает новые горизонты для развития общества.
                        </div>
                        <div class="partners__slider">
                            <div class="swiper-container partners-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="static/img/content/p1.png" alt="Партнеры">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="static/img/content/p2.png" alt="Партнеры">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="static/img/content/p3.png" alt="Партнеры">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="static/img/content/p4.png" alt="Партнеры">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="static/img/content/p5.png" alt="Партнеры">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="static/img/content/p6.png" alt="Партнеры">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="static/img/content/p7.png" alt="Партнеры">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="page__footer">
            {{> footer/footer}}

            
            {{> bottom/bottom }}
        </footer>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
    </body>

</html>