<div class="newsPage">
	<div class="wrapper">
		
	</div>
</div>

<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{>header/header}}

	<div class="bg">
		<div class="wrapper">
			{{> bread/bread }}
		</div>

		<div class="tovar">
			<div class="tovar__head">
				<div class="tovar__left">
					<img src="static/img/content/tov.png" alt="Товар" class="left-item active">
					<img src="static/img/content/tov.png" alt="Товар" class="left-item">
					<div class="left-item tovar-video" data-src="https://www.youtube.com/embed/edSgBptjbs0">
						{{Icon iconName="play"}}
					</div>
				</div>
				<div class="tovar__center">
					<img src="static/img/content/tov.png" alt="Товар" id="img-item">
					<iframe src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="video-item"></iframe>
				</div>
				<div class="tovar__right">
					<div class="tovar__title">
						<h4 class="title">
							Шпаклевка полимерная SuperFinish (СуперФиниш) ...
						</h4>
					</div>
					<div class="tovar__pres">
						<div class="tovar__presence left-1">
							<div class="tovar__values">
								<span class="tovar-span">Артикул:</span>
								<p class="tovar-p">QJY230C-E</p>
							</div>
							<div class="tovar__values">
								<span class="tovar-span">Толщина:</span>
								<p class="tovar-p">400мм</p>
							</div>
							<div class="tovar__values">
								<span class="tovar-span">Плотность:</span>
								<p class="tovar-p">Д500</p>
							</div>
							<div class="tovar__values">
								<span class="tovar-span">Объем:</span>
								<p class="tovar-p">50</p>
							</div>
						</div>
						<div class="tovar__presence right-1">
							<div class="tovar__values">
								<span class="tovar-span">Код:</span>
								<p class="tovar-p">03943</p>
							</div>
							<div class="tovar__values">
								<span class="tovar-span">Формат (Д*Ш, мм):</span>
								<p class="tovar-p">600*200</p>
							</div>
							<div class="tovar__values">
								<span class="tovar-span">Вес:</span>
								<p class="tovar-p">4 кг</p>
							</div>
						</div>
					</div>

					<div class="t-pr">
						<div class="tovar__price">
							<div class="tovar__sum">
								2 000 ₽
							</div>
						</div>
						<a href="#" class="tovar__bal">
							{{Icon iconName="ballit"}}
							<span>Добавить в сравнение</span>
						</a>
					</div>

					<div class="tovar__quantity">
						<div class="card__value">
							<button class="card-btn minus">
								{{Icon iconName="minus"}}
							</button>
							<input type="text" value="1" class="value number">
							<button class="card-btn plus">
								{{Icon iconName="plus"}}
							</button>
						</div>
						<div class="card__presence card__green">
							<span>В наличии</span>
						</div>
					</div>

					<div class="tovar__btns">
						<button class="addtocart">
							Добавить в корзину
						</button>
						<button class="oneclick btn-tov-fix" data-popup-open="popup__buy">Рассчитать доставку</button>
						<button class="addtofav">
							{{Icon iconName="tov-heart"}}
						</button>
					</div>

					<div class="tovar__brand">
						<a href="#">
							<img src="static/img/content/br-t.png" alt="Бренд">
							<span>Все товары бренда</span>
						</a>
					</div>

				</div>
			</div>

			{{> tovar/tovar-tab }}
		</div>
		
		<div class="tovar-similar">
			<div class="wrapper">
				<div class="new__title">
					<h3 class="title">С этим товаром покупают</h3>
				</div>
				
				<div class="new__slider">
					<div class="swiper-container new-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
										</div>

								<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t7.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Vetonit LR+ (Ветонит ЛР+) Weber (Вебер)</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__sale">
										-30%
									</div>
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t8.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Rotband Pasta Profi (Ротбанд Паста Профи) Knauf ...</a>
										</div>

										<div class="card__price has__sale">
											4 200 ₽
											<span class="old__price">1600 ₽</span>
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t9.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Базовая Старатели</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="slider-btn new-btn-prev">
						{{Icon iconName="arrow"}}
					</div>
					<div class="slider-btn new-btn-next">
						{{Icon iconName="arrow"}}
					</div>
				</div>

			</div>
		</div>


		<div class="tovar-similar">
			<div class="wrapper">
				<div class="new__title">
					<h3 class="title">Похожие товары</h3>
				</div>
				
				<div class="new__slider">
					<div class="swiper-container new-container1">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
										</div>

								<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t7.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Vetonit LR+ (Ветонит ЛР+) Weber (Вебер)</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__sale">
										-30%
									</div>
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t8.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Rotband Pasta Profi (Ротбанд Паста Профи) Knauf ...</a>
										</div>

										<div class="card__price has__sale">
											4 200 ₽
											<span class="old__price">1600 ₽</span>
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t9.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Базовая Старатели</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="slider-btn new-btn-prev1">
						{{Icon iconName="arrow"}}
					</div>
					<div class="slider-btn new-btn-next1">
						{{Icon iconName="arrow"}}
					</div>
				</div>

			</div>
		</div>

		<div class="tovar-recently">
			<div class="wrapper">
				<div class="new__title">
					<h3 class="title">Вы недавно смотрели</h3>
				</div>
				
				<div class="new__slider">
					<div class="swiper-container new-container2">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t6.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Fugen (Фуген) Knauf (Кнауф)</a>
										</div>

								<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t7.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Vetonit LR+ (Ветонит ЛР+) Weber (Вебер)</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__sale">
										-30%
									</div>
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t8.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Rotband Pasta Profi (Ротбанд Паста Профи) Knauf ...</a>
										</div>

										<div class="card__price has__sale">
											4 200 ₽
											<span class="old__price">1600 ₽</span>
										</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t9.png"class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпатлевка Базовая Старатели</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card card1">
									<div class="card__fav">
										{{Icon iconName="heart-plus"}}
									</div>
							<div class="card__bal">
								{{Icon iconName="balance-tov"}}
							</div>
									<div class="card__img">
										<img src="static/img/content/t10.png" class="swiper-lazy" alt="Карточка товара">
									</div>
									<div class="card__body">
										<div class="card__presence card__green">
											
											<span>В наличии</span>
										</div>

										<div class="card__title">
											<a href="#" class="card__title-link">Шпаклевка полимерная SuperFinish (СуперФиниш) ...</a>
										</div>

																		<div class="card__prcont">
									<div class="card__price">
										4 200 ₽
									</div>

									<div class="card__for1">
										за 1 шт
									</div>
								</div>

										<div class="card__quantity">
											{{> card/card-value }}
											<div class="card__add">
												<div class="addtocart">
													{{Icon iconName="cart"}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="slider-btn new-btn-prev2">
						{{Icon iconName="arrow"}}
					</div>
					<div class="slider-btn new-btn-next2">
						{{Icon iconName="arrow"}}
					</div>
				</div>
			</div>
		</div>

	</div>

	{{>footer/footer}}

	{{> bottom/bottom }}
</body>

</html>