<div class="rcard">
    <div class="rcard__dc">
        {{Icon iconName="dc"}}
        -30%
    </div>
    <div class="rcard__left">
        <div class="rcard__img m-bg-cont">
            <img src='static/img/content/rcard-img.png' alt='картинка'>
        </div>
    </div>
    <div class="rcard__content">
        <div class="rcard__title">
            Шпатлевка Fugen (Фуген) Knauf (Кнауф)
        </div>
        <div class="rcard__desc">
            <div class="rcard__text">
                Применяется внутри сухих помещений для создания высококачественной поверхности под окраску, обои или декоративные покрытия...
            </div>
        </div>
        <div class="rcard__bottom">
            <div class="rcard__bottom-item">
                <span>Артикул:</span> QJY230C-E
            </div>
            <div class="rcard__bottom-item">
                <span>Код:</span> 03943
            </div>
            <div class="rcard__bottom-item">
                <span>Вес:</span> 4 кг
            </div>
            <div class="rcard__bottom-item">
                <span>Объем:</span> 50
            </div>
        </div>
    </div>
    <div class="rcard__right">
        <div class="rcard__price-content">
            <div class="rcard__price">
                <div class="rcard__price-big">
                    1 000 ₽
                </div>
                <div class="rcard__price-old">
                    30 000 ₽
                </div>

            </div>
            <div class="card__value">
                <button class="card-btn minus">

                    <svg class="icon__minus" width="12px" height="1px">
                        <use xlink:href="#minus"></use>
                    </svg>

                </button>
                <input type="text" value="1" min="1" max="20" class="value number">
                <button class="card-btn plus">

                    <svg class="icon__plus" width="12px" height="12px">
                        <use xlink:href="#plus"></use>
                    </svg>

                </button>
            </div>
        </div>
        <div class="rcard__feat">
            <div class="rcard__feat-button">
                {{Icon iconName="rcard-1"}}
            </div>
            <div class="rcard__feat-button">
                {{Icon iconName="rcard-2"}}
            </div>
            <div class="rcard__feat-button">
                {{Icon iconName="rcard-3"}}
            </div>
        </div>
    </div>
</div>