<div class="card">
    <div class="card-wrap">
        <div class="card__fav">

            <svg class="icon__heart-plus" width="24px" height="24px">
                <use xlink:href="#heart-plus"></use>
            </svg>

        </div>
        <div class="card__img">
            <img src="static/img/general/card/1.png" alt="Карточка товара">
        </div>
        <div class="card__body">
            <div class="card__presence card__green">

                <span>В наличии</span>
            </div>
            <!-- <div class="card__presence card__red">
            
<svg class="icon__no" width="13px" height="13px">
<use xlink:href="#no"></use>
</svg>

            <span>Нет в наличии</span>
        </div> -->

            <div class="card__title">
                <a href="#" class="card__title-link">Гайковерт 1/2 АВТОМАСТЕР 68кг FD-2600</a>
            </div>

            <div class="card__price">
                4 200 ₽
            </div>

            <div class="card__quantity">
                <div class="card__value">
                    <button class="card-btn minus">

                        <svg class="icon__minus" width="12px" height="1px">
                            <use xlink:href="#minus"></use>
                        </svg>

                    </button>
                    <input type="text" value="1" min="1" max="20" class="value number">
                    <button class="card-btn plus">

                        <svg class="icon__plus" width="12px" height="12px">
                            <use xlink:href="#plus"></use>
                        </svg>

                    </button>
                </div>
                <div class="card__add">
                    <div class="addtocart">

                        <svg class="icon__cart" width="18px" height="18px">
                            <use xlink:href="#cart"></use>
                        </svg>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>