<div class="card__value">
	<button class="card-btn minus">
		{{Icon iconName="minus"}}
	</button>
	<input type="text" value="1" min="1" max="20" class="value number">
	<button class="card-btn plus">
		{{Icon iconName="plus"}}
	</button>
</div>