<footer class="footer">
	<div class="wrapper">
		<div class="footer__top">
			<div class="footer__nav">
				<div class="footer-col">
					<a href="#" class="footer-link">Каталог</a>
					<a href="#" class="footer-link">Доставка и оплата</a>
					<a href="#" class="footer-link">О компании</a>
					<a href="#" class="footer-link">Контакты</a>
					<a href="#" class="footer-link">Партнеры</a>
					<a href="#" class="footer-link">Лидеры продаж</a>
					<a href="#" class="footer-link">Наши новости</a>
					<a href="#" class="footer-link">Акции</a>
					<a href="#" class="footer-link">FAQ</a>
					<a href="#" class="footer-link">Политика конфиденциальности</a>
				</div>
			</div>

			<div class="footer__mid">
				<div class="footer__social">
					<div class="footer__social-name">
						Соц. сети
					</div>
					<div class="footer__social-links">
						<a href="#" class="social-link">
							{{Icon iconName="vk"}}
						</a>
						<a href="#" class="social-link">
							{{Icon iconName="facebook"}}	
						</a>
						<a href="#" class="social-link">
							{{Icon iconName="tg"}}	
						</a>
						<a href="#" class="social-link">
							{{Icon iconName="insta"}}	
						</a>
						<a href="#" class="social-link">
							{{Icon iconName="ws"}}	
						</a>
						<a href="#" class="social-link">
							{{Icon iconName="vib"}}	
						</a>
					</div>
				</div>
				<div class="footr__spo">
					<div class="footer__social-name">Способы оплаты</div>
					<a href="#" class="footer__spo-item">
						<img src="static/img/content/spo1.png" alt="">
					</a>
					<a href="#" class="footer__spo-item">
						<img src="static/img/content/spo2.png" alt="">
					</a>
					<a href="#" class="footer__spo-item">
						<img src="static/img/content/spo3.png" alt="">
					</a>
					<a href="#" class="footer__spo-item">
						<img src="static/img/content/spo4.png" alt="">
					</a>
					<a href="#" class="footer__spo-item">
						<img src="static/img/content/spo5.png" alt="">
					</a>
				</div>
			</div>

			<div class="footer__contacts">
				<div class="footer__contacts-name">
					Контакты
				</div>
				<div class="footer__contacts-items">
					<a href="tel:+74951500687" class="phone">+7 (495) 150-06-87</a>
					<address>г. Москва поселение Мосрентген ул. Адмирала Корнилова Вл. 18. </address>
					<a href="mailto:automaster05@mail.ru" class="mail">info@site.ru</a>
				</div>
			</div>

		</div>

		<div class="footer__bottom">
			<div class="copyright">
				<span>© 2000 - 2020. «Стройтерминал»</span>
				<span>Вся информация на сайте - собственность интернет-магазина.</span>
			</div>
			<div class="up" id="up">
				{{Icon iconName="arrow-up"}}
			</div>
			<div class="alert">
				<span>Сайт не является публичной офертой.</span>
				<span>Публикация информации с сайта site.ru без разрешения запрещена.</span>
			</div>
		</div>
	</div>

	<a href="#" id="toTop" data-popup="form">
        {{Icon iconName="wat"}}
    </a>
</footer>