<header class="header head">
	<div class="wrapper">
		<div class="header__top">
			<div class="header__logo">
				<a href="/" class="header__link">
					<img src="static/img/content/logo.png" alt="Главная">
				</a>
			</div>
			<div class="header__search">
				<form action="" class="header__form">
					<input type="text" class="header__input" placeholder="Поиск по сайту">
					<button class="header__button">
						{{Icon iconName="search"}}
					</button>
				</form>
			</div>
			<div class="header__phone">
				<a href="tel:+74951500687">+7 (495) 150-06-87</a>
				<span>
					<p data-popup-open="popup__call">заказать звонок</p>&nbsp<a href="#">whatsapp</a>
				</span>
			</div>
			<div class="header__humb">
				{{Icon iconName="menu"}}
			</div>
			<div class="header__events">
				<div class="header__event">
					<a href="#" class="header__fav header-link hover-link">
						{{Icon iconName="balance"}}
						<span>Сравнение</span>
					</a>
				</div>
				<div class="header__event">
					<a href="#" class="header__fav header-link hover-link">
						{{Icon iconName="heart"}}
						<span>Избранное</span>
						<span class="cart-value">
							2
						</span>
					</a>
				</div>
				<div class="header__event">
					<a href="#" class="header__cart header-link hover-link">
						{{Icon iconName="cart"}}
						<span>Корзина</span>
						<span class="cart-value">
							2
						</span>
					</a>
					<div class="cart-empty">
						<div class="cart-empty-image">
							<img src="%=static=%img/general/empty.png" alt="Пустая корзина">
						</div>
						<div class="cart-empty-text">
							<span class="cart-empty-span">Ваша корзина пуста</span>
							<a href="#" class="cart-empty-link">перейти в каталог</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="header__bottom">
			<nav class="header__nav">
				<span class="header__catalog">
					<span class="burger">
						<span class="burger-line"></span>
						<span class="burger-line"></span>
						<span class="burger-line"></span>
					</span>
					Каталог
				</span>
				<a href="#" class="nav-link hover-link dr">Бренды</a>
				<a href="#" class="nav-link hover-link dr">Акции</a>
				<a href="#" class="nav-link hover-link dr drt">Доставка и оплата</a>
				<a href="#" class="nav-link hover-link dr drt">Контакты</a>
				<a href="#" class="nav-link hover-link">О компании</a>
				<a href="#" class="nav-link hover-link">Металл</a>
				<span class="more-menu">
					...
					<span class="toggle-menu">
						<a href="#" class="nav-link hover-link nr">Бренды</a>
						<a href="#" class="nav-link hover-link">Новинки</a>
						<a href="#" class="nav-link hover-link nr">Акции</a>
						<a href="#" class="nav-link hover-link">Новости</a>
						<a href="#" class="nav-link hover-link">Проектирование</a>
						<a href="#" class="nav-link hover-link nr nrt">Доставка и оплата</a>
						<a href="#" class="nav-link hover-link nr nrt">Контакты</a>
						<a href="#" class="nav-link hover-link">О компании</a>
					</span>
				</span>
			</nav>

			<div class="header__login" data-popup-open="popup__join">
				<a href="#" class="login">
					{{Icon iconName="login"}}
					Войти в аккаунт
				</a>
			</div>

			<!-- Авторизованный пользователь -->
			<!-- <div class="header__login">
				<a href="#" class="login">
					{{Icon iconName="user"}}
					Личный кабинет
				</a>
			</div> -->

		</div>
		
		<div class="header-ctg-menu">
			<div class="header-ctg-menu-container">
				<div class="header-ctg-menu-container-item" data-block="block1" data-block="block1">
					{{Icon iconName="ctg1"}}
					Стройматериалы
					{{Icon iconName="ar-ctg"}}
					<div class="header-ctg-menu-container-item-drop">
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Гипсокартон и листовые материалы
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Сухие смеси
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Цемент, вяжущие и сыпучие материалы
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Блоки строительные
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Кирпич
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Металлопрокат
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Сетки
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Пиломатериалы
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Древесно-плитные материалы
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Клеи
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Винтовые сваи
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Песок
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Щебень
						</a>
					</div>
				</div>
				
				<div class="header-ctg-menu-container-item-drop ctg-fix-h" id="block1">
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Гипсокартон и листовые материалы
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Сухие смеси
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Цемент, вяжущие и сыпучие материалы
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Блоки строительные
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Кирпич
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Металлопрокат
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Сетки
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Пиломатериалы
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Древесно-плитные материалы
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Клеи
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Винтовые сваи
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Песок
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Щебень
					</a>
				</div>
				
				<div class="header-ctg-menu-container-item" data-block="block2">
					{{Icon iconName="ctg2"}}
					Отделочные материалы
					{{Icon iconName="ar-ctg"}}
					<div class="header-ctg-menu-container-item-drop">
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Теплоизоляция
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Гидроизоляция
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Звукоизоляционные материалы
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Пароизоляционные и супер диффузионные пленки
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Полиэтиленовые пленки
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Самоклеящаяся пленка
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Профилированные мембраны
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Геоматериалы и дорожное строительство
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Геотекстиль
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Строительные тенты
						</a>
					</div>
				</div>


				<div class="header-ctg-menu-container-item-drop ctg-fix-h" id="block2">
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Теплоизоляция
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Гидроизоляция
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Звукоизоляционные материалы
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Пароизоляционные и супер диффузионные пленки
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Полиэтиленовые пленки
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Самоклеящаяся пленка
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Профилированные мембраны
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Геоматериалы и дорожное строительство
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Геотекстиль
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Строительные тенты
					</a>
				</div>

				<div class="header-ctg-menu-container-item" data-block="block3">
					{{Icon iconName="ctg3"}}
					Отделочные материалы
					{{Icon iconName="ar-ctg"}}
					<div class="header-ctg-menu-container-item-drop">
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Краски и лаки
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Декоративные штукатурки
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Цемент, вяжущие и сыпучие материалы
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Плитка, керамогранит, мозаика, камень
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Напольные покрытия
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Обои
						</a>
					</div>
				</div>

				<div class="header-ctg-menu-container-item-drop ctg-fix-h" id="block3">
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Краски и лаки
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Декоративные штукатурки
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Цемент, вяжущие и сыпучие материалы
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Плитка, керамогранит, мозаика, камень
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Напольные покрытия
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Обои
					</a>
				</div>

				<div class="header-ctg-menu-container-item" data-block="block4">
					{{Icon iconName="ctg4"}}
					Потолочные системы
					{{Icon iconName="ar-ctg"}}
					<div class="header-ctg-menu-container-item-drop">
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Потолочные панели
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Кассетные потолки
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Реечные потолки
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Грильято
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Подвесная система
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Светильники
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Звукоизоляция потолка
						</a>
					</div>
				</div>

				<div class="header-ctg-menu-container-item-drop ctg-fix-h" id="block4">
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Потолочные панели
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Кассетные потолки
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Реечные потолки
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Грильято
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Подвесная система
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Светильники
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Звукоизоляция потолка
					</a>
				</div>

				<div class="header-ctg-menu-container-item" data-block="block5">
					{{Icon iconName="ctg5"}}
					Сантехника, водоснабжение, канализация
					{{Icon iconName="ar-ctg"}}
					<div class="header-ctg-menu-container-item-drop">
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Души и душевые кабины
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Ванны
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Аксессуары для ванной комнаты
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Раковины и комплектующие
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Смесители
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Кухонные мойки
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Мебель для ванной комнаты
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Полотенцесушители
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Инсталляции
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Водонагреватели
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Насосное оборудование
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Водоснабжение
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Насосное оборудование
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Канализация
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Дачная сантехника
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Сантехнический крепеж
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Сливы, сифоны, трапы
						</a>
					</div>
				</div>

				<div class="header-ctg-menu-container-item-drop ctg-fix-h" id="block5">
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Души и душевые кабины
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Ванны
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Аксессуары для ванной комнаты
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Раковины и комплектующие
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Смесители
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Кухонные мойки
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Мебель для ванной комнаты
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Полотенцесушители
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Инсталляции
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Водонагреватели
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Насосное оборудование
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Водоснабжение
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Насосное оборудование
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Канализация
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Дачная сантехника
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Сантехнический крепеж
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Сливы, сифоны, трапы
					</a>
				</div>

				<div class="header-ctg-menu-container-item" data-block="block6">
					{{Icon iconName="ctg6"}}
					Электрика
					{{Icon iconName="ar-ctg"}}
					<div class="header-ctg-menu-container-item-drop">
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Розетки и выключатели
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Домофоны и дверные звонки
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Датчики движения и освещения
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Кабели и комплектующие
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Удлинители
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Щитки, автоматы, счетчики
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Прожекторы
						</a>
					</div>
				</div>

				<div class="header-ctg-menu-container-item-drop ctg-fix-h" id="block6">
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Розетки и выключатели
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Домофоны и дверные звонки
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Датчики движения и освещения
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Кабели и комплектующие
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Удлинители
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Щитки, автоматы, счетчики
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Прожекторы
					</a>
				</div>

				<div class="header-ctg-menu-container-item" data-block="block7">
					{{Icon iconName="ctg7"}}
					Геоматериалы и дорожное строительство
					{{Icon iconName="ar-ctg"}}
					<div class="header-ctg-menu-container-item-drop">
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Колодезные элементы
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Плиты перекрытия
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Лотки теплотрасс
						</a>
					</div>
				</div>

				<div class="header-ctg-menu-container-item-drop ctg-fix-h" id="block7">
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Колодезные элементы
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Плиты перекрытия
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Лотки теплотрасс
					</a>
				</div>

				<div class="header-ctg-menu-container-item" data-block="block8">
					{{Icon iconName="ctg8"}}
					Инструмент и оборудование
					{{Icon iconName="ar-ctg"}}
					<div class="header-ctg-menu-container-item-drop">
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Геотекстиль
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Георешетка
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Полимерные мембраны
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Гидрошпонки
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Геоматы
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Габионы и матрацы
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Дренаж и системы водоотвода
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Грязезащита
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Холодный асфальт
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Тротуарная плитка
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Брусчатка
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Бордюрный камень
						</a>
					</div>
				</div>

				<div class="header-ctg-menu-container-item-drop ctg-fix-h" id="block8">
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Геотекстиль
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Георешетка
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Полимерные мембраны
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Гидрошпонки
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Геоматы
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Габионы и матрацы
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Дренаж и системы водоотвода
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Грязезащита
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Холодный асфальт
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Тротуарная плитка
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Брусчатка
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Бордюрный камень
					</a>
				</div>

				<div class="header-ctg-menu-container-item" data-block="block9">
					{{Icon iconName="ctg9"}}
					Товары для дома, сада и отдыха
					{{Icon iconName="ar-ctg"}}
					<div class="header-ctg-menu-container-item-drop">
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Электроинструмент
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Бензопилы
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Ручной инструмент
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Гидрошпонки
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Измерительный инструмент
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Расходные материалы
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Строительное оборудование
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Бетономешалки
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Тепловые пушки
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Генераторы и комплектующие
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Станки
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Сварочное оборудование
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Спецодежда и средства индивидуальной защиты
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Противопожарное оборудование
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Уборка и клининг
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Садовый инструмент и техника
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Паяльное оборудование
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Пневмоинструмент
						</a>
					</div>
				</div>

				<div class="header-ctg-menu-container-item-drop ctg-fix-h" id="block9">
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Электроинструмент
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Бензопилы
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Ручной инструмент
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Гидрошпонки
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Измерительный инструмент
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Расходные материалы
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Строительное оборудование
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Бетономешалки
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Тепловые пушки
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Генераторы и комплектующие
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Станки
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Сварочное оборудование
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Спецодежда и средства индивидуальной защиты
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Противопожарное оборудование
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Уборка и клининг
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Садовый инструмент и техника
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Паяльное оборудование
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Пневмоинструмент
					</a>
				</div>

				<div class="header-ctg-menu-container-item" data-block="block10">
					{{Icon iconName="ctg10"}}
					Кровля, фасад, забор
					{{Icon iconName="ar-ctg"}}
					<div class="header-ctg-menu-container-item-drop">
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Техника для сада
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Зимние товары
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Инструмент садовый
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Емкости для воды
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Дачная сантехника
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Бассейны
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Благоустройство территории
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Товары для бани
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Спальные принадлежности
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Упаковочные материалы для переезда
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Хозяйственный инвентарь
						</a>
					</div>
				</div>

				<div class="header-ctg-menu-container-item-drop ctg-fix-h" id="block10">
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Техника для сада
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Зимние товары
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Инструмент садовый
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Емкости для воды
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Дачная сантехника
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Бассейны
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Благоустройство территории
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Товары для бани
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Спальные принадлежности
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Упаковочные материалы для переезда
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Хозяйственный инвентарь
					</a>
				</div>
				
				<div class="header-ctg-menu-container-item" data-block="block11">
					{{Icon iconName="ctg11"}}
					Крепеж
					{{Icon iconName="ar-ctg"}}
					<div class="header-ctg-menu-container-item-drop">
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Кровля
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Штукатурные фасады
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Реечные фасады
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Сайдинг
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Фасадная плитка
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Вентфасад
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Комплектующие для вентфасада
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Заборы и ограждения
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Поликарбонат
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Средства для защиты и очистки фасадов
						</a>
					</div>
				</div>

				<div class="header-ctg-menu-container-item-drop ctg-fix-h" id="block11">
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Кровля
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Штукатурные фасады
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Реечные фасады
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Сайдинг
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Фасадная плитка
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Вентфасад
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Комплектующие для вентфасада
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Заборы и ограждения
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Поликарбонат
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Средства для защиты и очистки фасадов
					</a>
				</div>

				<div class="header-ctg-menu-container-item" data-block="block12">
					{{Icon iconName="ctg12"}}
					Окна, двери, лестницы
					{{Icon iconName="ar-ctg"}}
					<div class="header-ctg-menu-container-item-drop">
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Саморезы
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Шурупы
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Дюбели
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Анкерный крепеж
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Перфорированный крепеж
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Гвозди
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Гайки
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Шайбы
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Шпильки
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Болты
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Болты
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Такелаж
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Сантехнический крепеж
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Такелаж
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Хомуты
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Скобы строительные
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Такелаж
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Скобяные изделия
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Телескопический крепеж
						</a>
					</div>
				</div>

				<div class="header-ctg-menu-container-item-drop ctg-fix-h" id="block12">
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Саморезы
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Шурупы
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Дюбели
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Анкерный крепеж
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Перфорированный крепеж
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Гвозди
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Гайки
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Шайбы
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Шпильки
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Болты
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Болты
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Такелаж
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Сантехнический крепеж
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Такелаж
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Хомуты
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Скобы строительные
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Такелаж
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Скобяные изделия
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Телескопический крепеж
					</a>
				</div>

				<div class="header-ctg-menu-container-item" data-block="block13">
					{{Icon iconName="ctg13"}}
					ЖБИ изделия
					{{Icon iconName="ar-ctg"}}
					<div class="header-ctg-menu-container-item-drop">
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Двери
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Окна
						</a>
						<a href="#" class="header-ctg-menu-container-item-drop-item">
							Лестницы и стремянки
						</a>
					</div>
				</div>
				
				<div class="header-ctg-menu-container-item-drop ctg-fix-h" id="block13">
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Двери
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Окна
					</a>
					<a href="#" class="header-ctg-menu-container-item-drop-item">
						Лестницы и стремянки
					</a>
				</div>
			</div>
		</div>
	</div>

</header>

<div class="header-drop">
	<div class="header-drop-close">
		{{Icon iconName="close-2"}}
	</div>
	<div class="header__search">
		<form action="" class="header__form">
			<input type="text" class="header__input" placeholder="Поиск по сайту">
			<button class="header__button">
				{{Icon iconName="search"}}
			</button>
		</form>
	</div>
	
	<div class="header__events">
		<div class="header__event">
			<a href="#" class="header__fav header-link hover-link">
				{{Icon iconName="balance"}}
				<span>Сравнение</span>
			</a>
		</div>
		<div class="header__event">
			<a href="#" class="header__fav header-link hover-link">
				{{Icon iconName="heart"}}
				<span>Избранное</span>
				<span class="cart-value">
					2
				</span>
			</a>
		</div>
		<div class="header__event">
			<a href="#" class="header__cart header-link hover-link">
				{{Icon iconName="cart"}}
				<span>Корзина</span>
				<span class="cart-value">
					2
				</span>
			</a>
			<div class="cart-empty">
				<div class="cart-empty-image">
					<img src="%=static=%img/general/empty.png" alt="Пустая корзина">
				</div>
				<div class="cart-empty-text">
					<span class="cart-empty-span">Ваша корзина пуста</span>
					<a href="#" class="cart-empty-link">перейти в каталог</a>
				</div>
			</div>
		</div>
	</div>

	<div class="header__phone">
		<a href="tel:+74951500687">+7 (495) 150-06-87</a>
		<span>
			<p data-popup-open="popup__call">заказать звонок</p>&nbsp<a href="#">whatsapp</a>
		</span>
	</div>
</div>

<div class="fixed-header head">
	<div class="wrapper">
		<div class="fixed-header-container">
			<div class="header__logo">
				<a href="/" class="header__link">
					<img src="static/img/content/logo.png" alt="Главная">
				</a>
			</div>
			<nav class="header__nav">
				<span class="header__catalog">
					<span class="burger">
						<span class="burger-line"></span>
						<span class="burger-line"></span>
						<span class="burger-line"></span>
					</span>
					Каталог
				</span>
				<a href="#" class="nav-link hover-link">Бренды</a>
				<a href="#" class="nav-link hover-link">Новинки</a>
				<a href="#" class="nav-link hover-link">Акции</a>
				<a href="#" class="nav-link hover-link">Новости</a>
				<a href="#" class="nav-link hover-link">Проектирование</a>
				<a href="#" class="nav-link hover-link">Доставка и оплата</a>
				<a href="#" class="nav-link hover-link">Контакты</a>
				<a href="#" class="nav-link hover-link">О компании</a>
				<span class="more-menu">
					...
					<span class="toggle-menu"></span>
				</span>
			</nav>
			
			<div class="header__events fix-2 fix-hed">
				<div class="header__event fix-1">
					<a href="#" class="header__fav header-link hover-link">
						{{Icon iconName="balance"}}
						<span>Сравнение</span>
					</a>
				</div>
				<div class="header__event fix-1">
					<a href="#" class="header__fav header-link hover-link">
						{{Icon iconName="heart"}}
						<span>Избранное</span>
						<span class="cart-value">
							2
						</span>
					</a>
				</div>
				<div class="header__event fix-1">
					<a href="#" class="header__cart header-link hover-link">
						{{Icon iconName="cart"}}
						<span>Корзина</span>
						<span class="cart-value">
							2
						</span>
					</a>
					<div class="cart-empty">
						<div class="cart-empty-image">
							<img src="%=static=%img/general/empty.png" alt="Пустая корзина">
						</div>
						<div class="cart-empty-text">
							<span class="cart-empty-span">Ваша корзина пуста</span>
							<a href="#" class="cart-empty-link">перейти в каталог</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="header-ctg-back"></div>
