<div class="tovar__body">
	<div class="tovar__body-items">
		<ul class="tovar__list">
			<li class="tovar__list-item active">
				Описание
			</li>
			<li class="tovar__list-item">ХАРАКТЕРИСТИКИ</li>
			<li class="tovar__list-item">СЕРТИФИКАТЫ</li>
			<li class="tovar__list-item">ВИДЕО</li>
			<li class="tovar__list-item">ОТЗЫВЫ</li>
		</ul>
		
		<div class="tovar__rig">
			<a href="#" class="tovar__bal">
				{{Icon iconName="ballit"}}
				<span>Добавить в сравнение</span>
			</a>
			<a href="#" class="share">
				{{Icon iconName="share"}}
				Поделиться
			</a>
		</div>

	</div>

	<div class="tovar__tab active">
		<div class="tovar__tab-row">
			<div class="tovar__info">
				<div class="tovar__title">
					ОПИСАНИЕ
				</div>
				<div class="tovar__block">
					<img src="static/img/content/tov-lil.png" alt="Товар">
					<div class="tovar__block-text">
						строительный материал, производящийся из разновидности ячеистого бетона - пенобетона, который изготавливается из обычного цементного раствора, песка и воды с добавлением пенообразователя
					</div>
				</div>

			</div>
			<div class="tovar__docs">
				<div class="tovar__title">
					Документы
				</div>
				<div class="tovar__docs-items">
					<a href="#" class="tovar__docs-item" download>
						{{Icon iconName="doc"}}
						<span class="doc-info">
							<span class="doc-name">Инструкция по эксплуатации</span>
							<span class="doc-params">
								pdf, 64 кБ
							</span>
						</span>
					</a>
					<a href="#" class="tovar__docs-item" download>
						{{Icon iconName="doc"}}
						<span class="doc-info">
							<span class="doc-name">Технические характеристики</span>
							<span class="doc-params">
								pdf, 64 кБ
							</span>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="tovar__tab">
		<div class="tovar__tab-row">
			<div class="tovar__info">
				
				<div class="tovar__tech">
					<div class="tovar__tech-title">
						ХАРАКТЕРИСТИКИ
					</div>
					<div class="tov-title-os">
						Технические характеристики
					</div>
					<div class="tovar__tech-items">
						<div class="tovar__tech-item">
							<span>Бренд</span>
							<div class="dots"></div>
							<p>SuperFinish</p>
						</div>
						<div class="tovar__tech-item">
							<span>Марка смеси</span>
							<div class="dots"></div>
							<p>М-150</p>
						</div>
						<div class="tovar__tech-item">
							<span>Виды работ</span>
							<div class="dots"></div>
							<p>Для кладки, Для оштукатуривания</p>
						</div>
						<div class="tovar__tech-item">
							<span>Тип объект</span>
							<div class="dots"></div>
							<p>Влажные помещения, Сухие помещения</p>
						</div>
						<div class="tovar__tech-item">
							<span>Жезнеспособность раствора</span>
							<div class="dots"></div>
							<p>120 мин.</p>
						</div>
						<div class="tovar__tech-item">
							<span>Расход воды на 1кг сухой смеси</span>
							<div class="dots"></div>
							<p>0,12-0,2 л</p>
						</div>
					</div>
				</div>

			</div>
			<div class="tovar__docs">
				<div class="tovar__title">
					Документы
				</div>
				<div class="tovar__docs-items">
					<a href="#" class="tovar__docs-item" download>
						{{Icon iconName="doc"}}
						<span class="doc-info">
							<span class="doc-name">Инструкция по эксплуатации</span>
							<span class="doc-params">
								pdf, 64 кБ
							</span>
						</span>
					</a>
					<a href="#" class="tovar__docs-item" download>
						{{Icon iconName="doc"}}
						<span class="doc-info">
							<span class="doc-name">Технические характеристики</span>
							<span class="doc-params">
								pdf, 64 кБ
							</span>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="tovar__tab"> 
		
	</div>
	<div class="tovar__tab"> 
		
	</div>

	<div class="tovar__tab"> 
		
	</div>
</div>