.catalog__filters {
    padding: 0 !important;
    max-width: 225px !important;
}
.collapsible-body {
    transition: 0.3s;
    overflow: hidden;
}   
.catalog__filters {
    background-color: transparent !important;
}

.catalog__products {
    width: 100%;
}

.catalog {
    &-top {
        &-title {
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 124%;
            color: #202225;
            margin-bottom: 24px;
        }
    }
}

.ctg {
    &__top {
        background-color: #fff;
        
    }
    &__header {
        height: 40px;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid rgba(101, 97, 91, 0.18);
        box-sizing: border-box;
        border-radius: 2px;
        padding-left: 10px;
        padding-right: 14px;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 136%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #000000;
        svg {
            transition: 0.2s;
        }
        &.active {
            svg {
                transform: rotate(180deg);
            }
        }
    }
    &__body {
        padding-left: 16px;
        padding-top: 22px;
        padding-right: 16px;
        visibility: hidden;
        position: absolute;
        opacity: 0;
        &.active {
            position: static;
            opacity: 1;
            visibility: visible;
            
        }
        .collapsible-header {
            display: flex;
            margin-bottom: 18px;
            align-items: center;
            justify-content: space-between;
            padding-left: 16px;
            padding-right: 12px;
            border-radius: 4px;
            padding-top: 12px;
            padding-bottom: 12px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 136%;
            color: #000000;
            svg {
                margin-left: 10px;
                transition: 0.2s;
            }
            &.active {
                background: rgba(101, 97, 91, 0.08);
                svg {
                    transform: rotate(180deg);
                }
            }
        }
        &-2 {
            padding-top: 18px;
            padding-left: 16px;
            display: flex;
            flex-direction: column;
            a {
                margin-bottom: 18px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 136%;
                color: #65615B;
            }
        }
    }

    &__feat {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
        @media screen and (max-width: 1024px) {
            align-items: flex-start;
        }
    }
    &__left {
        display: flex;
        align-items: center;
        
    }
    &__sort {
        display: flex;
        align-items: center;
        @media screen and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &-title {
            margin-right: 12px;
            @media screen and (max-width: 1024px) {
                height: 40px;
            }
        }
        &-button {
            height: 40px;
            background: #FFFFFF;
            border: 1px solid rgba(101, 97, 91, 0.18);
            box-sizing: border-box;
            border-radius: 2px;
            margin-right: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 136%;
            padding: 0 16px;
            color: #000000;
            transition: 0.2s;
            cursor: pointer;
            svg {
                margin-right: 12px;
            }
            &:last-child {
                margin-left: 20px;
            }
            @media screen and (max-width: 1024px) {
                margin-left: 0 !important;
                margin-right: 0 !important;
                width: 200px;
                margin-top: 10px;
            }
            &:hover {
                background-color: #eee;
            }
        }
    }
    &__right {
        display: flex;
        align-items: center;
    }
    &__grid {
        display: flex;
        align-items: center;
        &-title {
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 136%;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #36393F;
            span {
                font-weight: bold;
                text-decoration: underline;
            }
            svg {
                margin-left: 8px;
            }
        }
        &-buttons {
            display: flex;
            align-items: center;
        }
        &-button {
            margin-left: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            background: #FFFFFF;
            border: 1px solid rgba(101, 97, 91, 0.18);
            box-sizing: border-box;
            border-radius: 2px;
            width: 54px;
            transition: 0.2s;
            cursor: pointer;
            &.active {
                background-color: #eee;
            }
            &:hover {
                background-color: #eee;
            }
        }
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        &-2 {
            margin-right: -20px !important;

        }
        .card {
            width: calc( 25% - 20px);
            margin-right: 20px !important;
            max-width: 100% !important;
        }
    }
}


.filter {
    margin-bottom: 15px;
    width: 100%;
    background-color: #fff;
    padding-left: 16px;
    padding-right: 14px;
    padding-top: 14px;
    &__container {
        margin-top: 20px;
    }
    &__close-mobile {
        display: none;
        margin-bottom: 10px;
        @media screen and (max-width: 768px) {
            display: flex;
        }
    }
    &__container {
        display: flex;
        transition: 0.2s;
        align-items: flex-start;
    }
    &__color-check {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-bottom: -13px;
    }
    &__link {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 120%;
        color: #D60000;
        font-weight: 500;
        &:hover {
            text-decoration: underline;
        }
    }
    &__item {
        width: 100%;
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
        &-top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
            border-bottom: 1px solid #e2e2e2;
            margin-bottom: 20px;
            svg {
                transition: .5s;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
        &-title {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 120%;
            color: #000000;
        }
    }

    &__output {
        &-container {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        background-color: #fff;
        width: 90px;
        height: 40px;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 4px;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 15px;
    }
    .noUi-tooltip {
        display: none;
    }

    &__scroll {
        height: 136px;
        overflow: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar-track {
            background-color: #E0E0E0;
            border-radius: 4px;
        }
        &::-webkit-scrollbar{
            width: 4px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: #D60000;
        }
    }

}

#slider {
    width: 100%;
    margin-top: 20px;
}

.filter__button {
    height: 47px;
    background: #F4F4F4;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 136%;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}
.noUi-base {
    background-color: #E0E0E0;
}
.noUi-target.noUi-horizontal .noUi-tooltip {
    background: #D60000;
}
.noUi-connect {
    background: #D60000;
}
.noUi-horizontal .noUi-handle {
    background: #D60000;
    width: 16px;
    height: 16px;
    background-color: #D60000 !important;
    border: 1.5px solid #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.noUi-target {
    background: rgb(231, 237, 241);
}

.noUi-active {
    border-radius: 40px 40px 40px 40px !important;
}


.m-check {
    display: flex;
    margin-bottom: 15px;
    cursor: pointer;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        min-width: 18px;
        max-width: 18px;
        height: 16px;
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 4px;
        margin-right: 10px;
        svg {   
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            transition: 0.2s;
            transform: translate(-50%, -50%) scale(0);
        }
    }
    align-items: center;
    p {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 120%;
        color: #4F4F4F;
        span {
            color: #BDBDBD;
        }
    }
    input {
        display: none;
        &:checked {
            & ~ div {
                svg {
                    opacity: 1;
                    transform: translate(-50%, -50%);
                    width: 20px;
                }
            }
        }
    }
}

.color-check {
    width: calc(20% - 14px);
    margin-bottom: 13px;
    margin-right: 14px;
    input {
        display: none;
        &:checked {
            & ~ div {
                transform: scale(0.7);
                
            }
        }
        & ~ div {
            height: 28px;
            width: 100%;
            transition: 0.2s;
            border-radius: 2px;
            background-color: #000;
            cursor: pointer;
        }
    }
    .brown1 {
        background-color: #8E4D10 !important;
    }
    .brown2 {
        background-color: #FFD9AC !important;
    }
    .green {
        background-color: #006F2C !important;
    }
    .brown3 {
        background-color: #582525 !important;
    }
    .blue {
        background-color: #00288F !important;
    }
    .green2 {
        background-color: #86DAA8 !important;
    }
    .brown4 {
        background-color: #A6824D !important;
    }
    .purple {
        background-color: #52317D !important;
    }
    .pink {
        background-color: #FFA7A7 !important;
    }
    .black {
        background-color: #000000 !important;
    }
    .white {
        background-color: #FFFFFF !important;
    }
    .grey {
        background-color: #ABABAB !important;
    }
    
}
.ctg__items {
    width: 100%;
}
.rcard {
    background-color: #fff;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
        flex-direction: column;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        align-items: flex-start;
    }
    &__left {
        padding: 14px 32px 16px 24px;
    }
    position: relative;
    &__dc {
        position: absolute;
        height: 24px;
        padding-left: 11px;
        left: 0px;
        top: 14px;
        display: flex;
        align-items: center;
        z-index: 2;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 112%;
        color: #FFFFFF;
        svg {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: -1;
        }
    }
    &__content {
        flex-grow: 1;
        padding-top: 12px;
        padding-bottom: 12px;
        @media screen and (max-width: 1366px) {
            max-width: 274px;
            margin-right: 10px;
        }
    }
    &__title {
        margin-bottom: 2px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        color: #202225;
    }
    &__img {
        width: 120px;
        height: 120px;
    }
    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 112%;
        color: #8B8B8B;
        margin-bottom: 8px;
        max-width: 435px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__bottom {
        margin-top: 21px;
        display: flex;
        align-items: center;
        @media screen and (max-width: 1366px) {
            flex-wrap: wrap;
        }
        &-item {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 112%;
            text-align: right;
            color: #36393F;
            display: flex;
            align-items: center;
            margin-right: 24px;

            @media screen and (max-width: 1366px) {
                margin-bottom: 7px;
            }
            span {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 112%;
                color: #8B8B8B;
                margin-right: 12px;
            }
        }
    }
    &__right {
        display: flex;
        align-items: center;
    }
    &__price {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        &-big {
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 120%;
            color: #202225;
            margin-right: 14px;
        }
        &-old {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 124%;
            color: #777777;
            text-decoration: line-through;
            text-decoration-color: #E22829;
        }
    }
    &__feat {
        margin-left: 38px;
        display: flex;
        flex-direction: column;
        border-left: 1px solid rgba(196, 196, 196, 0.2);
        @media screen and (max-width: 1366px) {
            margin-left: 15px;
        }
        &-button {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            margin-left: 10px;
            border-bottom: 1px solid rgba(196, 196, 196, 0.2);
            margin-right: 10px;
            cursor: pointer;
            svg  {
                transition: 0.2s;
                fill: #65615B;
            }
            &:last-child {
                border-bottom: none;
            }
            transition: 0.2s;
            &:hover {
                svg {
                    fill: #D60000;
                }
            }
        }
    }
}
.ctg__pag-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.order__join-btn {
    color: #D60000 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {

    }
}

.m-radio {
    display: flex;
    align-items: center;
    input {
        display: none !important;
        &:checked {
            & ~ div svg {
                opacity: 1 !important;
            }
        }
    }
    div {
        margin-right: 8px;
        position: relative;
        width: 22px;
        height: 22px;
        border: 2px solid #c4c4c4;
        border-radius: 50%;
        svg {
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transition: 0.2s;
            transform: translate(-50%, -50%);
        }
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 136%;
        color: #65615B;
        opacity: 0.8;
    }
}
.order-input {
    border: 1px solid rgba(101, 97, 91, 0.12);
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #fff !important;
    color: #999999 !important;
    &:focus {
        color: #4b4b4b !important;
    }
}

.order-info {
    padding-right: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 14px;
    &-item {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 144%;
        text-align: right;
        color: #36393F;
        margin-left: 24px;
        span {
            // margin-right: 8px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 144%;
            color: #65615B;
            opacity: 0.8;
        }
    }
}

.check-image {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-without-1 {
    margin-top: 0 !important;
}
.order-form-1 {
    margin-top: 0 !important;
}
.order .map {
    width: 100%;
    height: 394px;
    margin-top: 12px;
    margin-bottom: 18px;
}

.morder-check {
    display: flex;
    margin-bottom: 15px;
    cursor: pointer;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        min-width: 18px;
        max-width: 18px;
        height: 16px;
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 4px;
        margin-right: 10px;
        svg {   
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            transition: 0.2s;
            transform: translate(-50%, -50%) scale(0);
        }
    }
    align-items: center;
    p {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 120%;
        color: #4F4F4F;
        span {
            color: #BDBDBD;
        }
    }
    input {
        display: none;
        &:checked {
            & ~ div {
                svg {
                    opacity: 1;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

.morder {
    &__item {
        margin-bottom: 24px;
        &-title {
            margin-bottom: 12px;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 124%;
            color: #202225;
        }
    }
    &__onecheck {
        display: flex;
        align-items: center;
        padding: 13px 18px;
        border: 1px solid rgba(101, 97, 91, 0.18);
        box-sizing: border-box;
        border-radius: 4px;
        width: 100%;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            background-color: #f3f3f3;
        }
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            min-width: 22px;
            max-width: 22px;
            height: 22px;
            background: #FFFFFF;
            border: 1px solid #E0E0E0;
            box-sizing: border-box;
            border-radius: 50%;
            margin-right: 10px;
            svg {   
                position: absolute;
                top: 50%;
                left: 50%;
                opacity: 0;
                transition: 0.2s;
                transform: translate(-50%, -50%) scale(0);
            }
        }
        align-items: center;
        p {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 120%;
            color: #4F4F4F;
            span {
                color: #BDBDBD;
            }
        }
        input {
            display: none;
            &:checked {
                & ~ div {
                    svg {
                        opacity: 1;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
    &__item {
        input {
            height: 48px;
            background: #FFFFFF;
            border: 1px solid rgba(101, 97, 91, 0.18);
            box-sizing: border-box;
            border-radius: 4px;
            width: 100%;
            padding-left: 18px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 136%;
            color: #312f2c;
            opacity: 0.8;
            margin-top: 0 !important;
            &::placeholder {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: #65615B;
                opacity: 0.8;

            }
        }
        textarea {
            padding: 13px 18px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 136%;
            color: #65615B;
            height: 93px;
            resize: none;
            height: 93px;
            background: #FFFFFF;
            border: 1px solid rgba(101, 97, 91, 0.18);
            box-sizing: border-box;
            border-radius: 4px;
            font-family: 'Roboto-regular', sans-serif;
            width: 100%;
            margin-top: 18px;
        }
        &-content {
            position: relative;
        }
        position: relative;
    }
    &__deliv {
        position: relative;
        &-icon {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            border: none;
            background-color: transparent;
        }
    }
    &__field {
        &-row {
            display: flex;
            justify-content: space-between;
            input {
                margin-right: 18px !important;
                &:first-child {
                    flex-grow: 1;
                }
                &:last-child {
                    max-width: 172px;
                    margin-right: 0 !important;
                }
            }
        }
    }
    &__days {
        display: flex;
        flex-wrap: wrap;
        margin-right: -24px;
    }
    &__day {
        width: calc(100% / 6 - 24px);
        margin-right: 24px;
        &-content {
            padding: 24px 14px;
            border: 1px solid rgba(101, 97, 91, 0.12);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 13px;
        }
        input {
            display: none;
            &:checked {
                
                & ~ .morder__day-content {
                    background: rgba(101, 97, 91, 0.06) !important;
                    border-color: rgba(101, 97, 91, 0.06) !important;
                }
            }
        }
        &-title {
            font-style: normal;
            font-weight: bold;
            font-size: 38px;
            line-height: 80%;
            color: #000000;
            opacity: 0.8;
            margin-bottom: 4px;
        }
        &-desc {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 80%;
            display: flex;
            align-items: center;
            color: #000000;
            opacity: 0.8;
            margin-bottom: 11px;
        }
        &-text {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 136%;
            color: #65615B;
            opacity: 0.8;
        }
    }
    &-radio {
        display: flex;
        align-items: center;
        width: 100%;
        cursor: pointer;
        transition: 0.2s;
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            min-width: 22px;
            max-width: 22px;
            height: 22px;
            background: #FFFFFF;
            border: 2px solid rgba(101, 97, 91, 0.2);
            box-sizing: border-box;
            border-radius: 50%;
            margin-right: 10px;
            svg {   
                position: absolute;
                top: 50%;
                left: 50%;
                opacity: 0;
                transition: 0.2s;
                transform: translate(-50%, -50%) scale(0);
            }
        }
        align-items: center;
        p {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 120%;
            color: #4F4F4F;
            span {
                color: #BDBDBD;
            }
        }
        input {
            display: none;
            &:checked {
                & ~ div {
                    svg {
                        opacity: 1;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
    &-check {
        display: flex;
        align-items: center;
        width: 100%;
        cursor: pointer;
        transition: 0.2s;
        margin-bottom: 12px;
        &:last-child {
        }
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            min-width: 20px;
            max-width: 20px;
            height: 20px;
            background: #FFFFFF;
            border: 2px solid rgba(101, 97, 91, 0.2);
            box-sizing: border-box;
            border-radius: 4px;
            margin-right: 10px;
            svg {   
                position: absolute;
                top: 50%;
                left: 50%;
                opacity: 0;
                transition: 0.2s;
                transform: translate(-50%, -50%) scale(0);
            }
        }
        align-items: center;
        p {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 120%;
            color: #4F4F4F;
            span {
                color: #BDBDBD;
            }
        }
        input {
            display: none;
            &:checked {
                & ~ div {
                    svg {
                        opacity: 1;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
    &__time {
        padding-left: 30px;
        display: none;
        &.active {
            display: flex;
        }
        input {
            width: 76px;
        }
    }
}
.order-itog {
    margin-top: 22px;
}
.order-itog-item {
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 12px;
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 124%;
    color: #202225;
    align-items: center;
    font-weight: 600;
    justify-content: space-between;
    span {
        font-style: normal;
        font-weight: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 124%;
        color: #65615B;
    }
    p {
        font-size: 18px;
    }
    
}

.radio-open-content {
    display: none;
    flex-direction: column;
    &.active {
        display: flex;
    }
    padding-left: 30px;
}
.morder-radio:last-child {
    margin-bottom: 12px !important;
}
.nice-select .list {
    max-height: 300px;
    overflow-y: auto;
}




.order__right-item {
    position: relative;
    &:hover {
        .cart__item-remove {
            opacity: 1;
        }
    }
}


.morder-radio-open {
    margin-top: 10px;
    margin-bottom: 20px;
    input {
        max-width: 300px;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    select {
        max-width: 300px;
    }
}
.radio-open-desc {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 136%;
    color: #3C352C;
    opacity: 0.8;
    margin-top: 12px;
}

.cmp {
    margin-bottom: 225px;
	margin-top: 32px;
	display: flex;
	width: 100%;
	&__item {
		width: 33.333%;
		display: flex;
		flex-direction: column;
	}
	&__top {
		height: 150px;
		background: rgba(101, 97, 91, 0.1);
		border-radius: 4px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-bottom: 31px;
        padding-left: 24px;
		&-title {
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 136%;
			text-align: center;
			color: #65615B;
			margin-bottom: 8px;
            padding-left: 24px;
		}
	}
	&__content {
		width: 100%;
	}
	&__title {
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 120%;
		color: #202225;
		padding-bottom: 12px;
		border-bottom: 1px solid rgba(101, 97, 91, 0.2);
		margin-bottom: 12px;
        padding-left: 24px;
	}
	&__desc-title {
		margin-bottom: 20px;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 124%;
		color: #202225;
        padding-left: 24px;
        height: 22px;
	}
	&__item:first-child {
        .cmp__desc-item {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 144%;
            color: #8B8B8B;
            margin-bottom: 12px;
            padding-left: 0;
        }
        .cmp__title {
            padding-left: 0;
        }
        .cmp__desc-title {
            padding-left: 0;
        }
    }

	&__item {

        &-top {
            padding: 24px 24px;
            height: 150px;
            background-color: #fff;
            display: flex;
            align-items: center;
            margin-bottom: 31px;
            border-right: 1px solid rgba(101, 97, 91, 0.12);
        }
		&-left {
			max-width: 92px;
			min-width: 92px;
            height: 92px;
            margin-right: 14px;
		}
        &-title {
            margin-bottom: 8px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 136%;
            color: #202225;
        }
        &-items {
            margin-bottom: 28px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        &-item {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 112%;
            color: #36393F;
            margin-right: 24px;
            white-space: nowrap;
            &:last-child {
                margin-right: 0;
            }
            span {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 112%;
                color: #8B8B8B;
                white-space: nowrap;
            }
        }
        &-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
        &-basket {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 108%;
            color: #D60000;
        }
        &-delete {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 108%;
            color: #65615B;
            opacity: 0.5;
        }
	}
	
}
.cmp__desc-item {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 144%;
    color: #36393F;
    margin-bottom: 12px;
    padding-left: 24px;
}
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.merror {
    &__logo {
        padding-top: 40px;
        margin-bottom: 144px;
    }
    &__icon {
        
    }
    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 64px;
        line-height: 100%;
        text-align: center;
        color: #202225;
        margin-top: 42px;
        font-weight: 600;
        text-align: center;
    }
    &__desc {
        margin-top: 8px;
        max-width: 371px;
        margin-bottom: 22px;
        text-align: center;
        font-weight: normal;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: #36393F;
    }
    &__button {
        margin-bottom: auto;
        width: 180px;
        height: 43px;
        background: #E22829;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF;
        transition: 0.2s;
        margin-bottom: 203px;
        &:hover {
            background: #bb2121;
        }

    }

}

body {
    align-items: stretch;
}

.cart {
    flex-grow: 1;
    width: 100%;
}

.bg .wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.bg {
    flex-grow: 1;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    img {
        margin-bottom: 16px;
    }
    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 136%;
        text-align: center;
        color: #36393F;
        margin-bottom: 4px;
    }
    &__link {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 136%;
        text-align: center;
        color: #D60000;
        &:hover {
            text-decoration: underline;
        }
    }
}

.cart__attr-discount {
    border-color: #D60000 !important;
    color: #D60000 !important;
}

@media screen and (max-width: 1024px) {
    .error {
        padding-bottom: 40px;
    }
    .merror__icon {
        width: 200px;
        height: 200px;
        margin-top: 30px;
        margin-bottom: 30px;
        svg {
            width: 200px;
            height: 200px;
        }
    }
    .ctg__right {
        margin-top: 0 !important;
    }
    .ctg__sort-title {
        display: flex;
        align-items: center;
    }
    .rcard {
        &__content {
            max-width: 100%;
        }
        &__right {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        &__feat {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-top: 1px solid rgba(196, 196, 196, 0.2);
            margin-left: 0;
            margin-top: 20px;
            border-left: none;
            padding-top: 10px;
            padding-bottom: 10px;
            &-button {
                width: auto;
                flex-grow: 1;
                width: auto;
                border-bottom: none;
                border-right: 1px solid rgba(196, 196, 196, 0.2);
                margin: 0;
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}
.mobile-filter, .close-filter {
    display: none;
    
}

.filter-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.226);
    z-index: 10010101;
    transition: 0.2s;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}
@media screen and (max-width: 768px) {
    .mobile-filter {
        display: flex;
        margin-top: 20px;
        width: 100%;
        display: inline-flex;
        align-items: center;
        padding: 15px 25px 15px 25px;
        background: #E22829;
        border-radius: 2px 2px 0px 0px;
        font-family: 'Roboto-bold', sans-serif;
        font-size: 13px;
        line-height: 136%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-right: 15px;
        cursor: pointer;
        transition: 0.2s;
        .burger {
			display: inline-flex;
			flex-direction: column;
			justify-content: space-between;
			margin-right: 10px;
			width: 11px;
			height: 10px;
			transition: .5s;
			&-line {
				display: inline-block;
				width: 100%;
				height: 2px;
				background: @light;
				transition: .5s;
				&:nth-child(2) {
					width: 7px;
				}
			}
		}
    }
    .close-filter {
        display: flex;
        margin-bottom: 10px;
        margin-left: auto;
        align-items: center;
        svg {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    }
    .ctg__content {
        margin-right: 0;
    }
    .ctg__grid {
        margin-top: 30px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .ctg__right {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
    }
    .filter {
        max-height: 100vh;
        overflow-y: auto;
        position: fixed;
        min-height: 100vh;
        top: 0;
        left: 0;
        bottom: 0;
        width: 270px;
        z-index: 100101010;
        opacity: 0;
        visibility: hidden;
        transform: translate(-100%);
        transition: 0.2s;
        &.active {
            transform: none;
            opacity: 1;
            visibility: visible;
        }
    }
    .ctg__content .card {
        max-width: 100% !important;
    }
}

.header__humb {
    order: 1;
    margin-left: auto;
    svg {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 767px) {
    .header__phone {
        display: none;
    }
}


.merror__icon {
    transform: none !important;
}

.morder-radio-open {
    display: none;
    &.active {
        display: flex;
        flex-direction: column;
    }
}

.header-drop {
    display: none;
}

.header__humb {
    display: none;
}

@media screen and (max-width: 768px) {
    .header__mobile-search {
        order: 1;
        position: relative;
        margin-left: auto;
        .header__search {
            position: absolute;
            right: 0;
        }
        .header__button {
            position: static;
            transform: none;
            margin-left: auto;
        }
    }
    
    .header__humb {
        display: flex;
    }
    .header__top {
        .header__search {
            display: none;
        }
        .header__phone {
            display: none;
        }
        .header__events {
            display: none !important;
        }
    }
    .header-drop {
        position: fixed;
        background-color: #fff;
        max-height: 100vh;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        right: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        &.active {
            opacity: 1;
            visibility: visible;
        }
        .header__events {
            display: flex !important;
            flex-direction: column;
        }
        .header__input {
            max-width: 100%;
            width: 100%;
        }
        .header__phone {
            order: 3 !important;
            display: flex !important;
            flex-direction: column !important;
            margin-left: 0;
            margin-top: 40px;
            * {
                text-align: left;
                display: flex;
                justify-content: flex-start;
            }
        }
        .header__events {
            display: flex;
            flex-direction: column !important;
            align-items: flex-start !important;
        }
    }
    .header-drop-close {
        margin-left: auto;
        flex-grow: 0;
        svg {
            width: 17px;
            height: 17px;
        }
    }
    
}


.header__top {
    align-items: center;
}
.filter__scroll {
    &.active {
        height: auto;
    }
}
@media screen and (max-width: 768px) {
    .header__events {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
    }
    .card__img img {
        object-fit: contain !important;
    }
    .header__top .header__events {
        flex-wrap: wrap !important;
    }
    .copyright {
        width: 100% !important;
    }
    .alert {
        width: 100% !important;
    }
}
@media screen and (max-width: 768px) {
    .rcard__left {
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ctg__sort-button {
        width: 33.3333%;
        border: none;
        border-radius: none;
        margin-right: 10px;
        font-size: 12px;
        svg {
            width: 15px;
            height: 15px;
            margin-right: 7px;
        }
    }
    .ctg__sort {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        &-title {
            width: 100%;
        }
    }
    .ctg__left {
        width: 100%;
    }
}

input:not(.lk__form-input) {
    display: flex;
    align-items: center;

    &::placeholder {
        line-height: auto !important;
    }
}
.order__form input {
    &::placeholder {
        line-height: auto !important;
    }
}

.cards {
    margin-right: -20px;
    @media screen and (max-width: 1023px) {
        margin-right: 0;
    }
    .card {
        max-width: 100% !important;
        width: calc(20% - 20px);
        @media screen and (max-width: 1366px) {
            width: calc(25% - 20px) !important;
        }
        @media screen and (max-width: 1024px) {
            width: calc(33.333% - 20px) !important;
        }
        @media screen and (max-width: 1023px) {
            width: calc(50% - 20px) !important;
        }
        @media screen and (max-width: 767px) {
            width: 100% !important;
            margin-left: 0;
        }        
    }
}
.collapsible-header {
    cursor: pointer;
}

.ctg-drop-down {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    padding-top: 15px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    &-content {
        position: relative;
        padding: 15px;
        max-width: 80px;
        z-index: 100;
        display: flex;
        flex-direction: column;
        background-color: #32414a;
        width: 100%;
        a {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            padding: 6px 0;

        }
        &:before {
            position: absolute;
            top: -10px;
            left: 50%;
            display: block;
            width: 0;
            height: 0;
            margin-left: -10px;
            content: ' ';
            border-width: 10px;
            border-style: solid;
            border-color: transparent;
            border-top-width: 0;
            border-bottom-color: #32414a;
        }
    }
    }
.ctg__grid-title {
    position: relative;
    cursor: pointer;
    &:hover {
        .ctg-drop-down {
            opacity: 1;
            visibility: visible;
        }
    }
}

.header__input {
    &::placeholder {
        line-height: auto !important;
        height: 40px;
        display: flex;
        align-items: center;
        vertical-align: middle;
        color: black;
    }
}

@media (max-width: 1366px) {
    .header__events {
        margin-top: 0px;
    }
    .header__phone {
        margin-bottom: 0px;
    }
}



@media (max-width: 1024px) {
    .header__events {
        margin-top: 20px;
    }
}

@media (max-width: 1440px) {
    .merror__icon svg {
        width: 300px;
        height: 300px;
    }
    .merror__title {
        margin-top: 16px !important;
    }
    .merror__button {
        margin-bottom: 100px !important;
    }
}

@media (max-width: 1024px) {
    .merror__icon svg {
        width: 200px;
        height: 200px;
    }
}

.morder__onecheck input {
    display: none !important;
}

.morder__day input {
    display: none !important;
}

.morder-radio input {
    display: none !important;
}

.morder-check input {
    display: none !important;
}

.morder-check input {
    display: none !important;
}


.torder-check {
    display: flex;
    margin-bottom: 15px;
    cursor: pointer;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        min-width: 18px;
        max-width: 18px;
        height: 16px;
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 4px;
        margin-right: 10px;
        svg {   
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            transition: 0.2s;
            transform: translate(-50%, -50%) scale(0);
        }
    }
    align-items: center;
    p {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 120%;
        color: #4F4F4F;
        span {
            color: #BDBDBD;
        }
    }
    input {
        display: none;
        &:checked {
            & ~ div {
                svg {
                    opacity: 1;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}