/* Fonts variables */
.rr() {
	font-family: 'Roboto-regular', sans-serif;
}
.rm() {
	font-family: 'Roboto-medium', sans-serif;
}
.rb() {
	font-family: 'Roboto-bold', sans-serif;
}

/* Color variables */
@link: #0066CC;
@linkdark: #005BB7;
@textmain: #202225;
@textmedium: #36393F;
@gray8b: #8B8B8B;
@gray999: #999999;
@redColor: #E22829;
@orangeColor: #FD5419;
@greenLight: #0FBC43;
@greenDark: #219653;
@green10: rgba(33, 150, 83, 0.1);
@ccc: #CCCCCC;
@eee: #EEEEEE;
@bgF4: #F4F4F4;
@bg: #F6F6F6;
@light: #FFFFFF;
