<div class="swiper-container main-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide main-slide">
			<a href="#" class="main-link">
				<img src="static/img/content/slide2.png" class="main-img">
			</a>
		</div>
		<div class="swiper-slide main-slide">
			<a href="#" class="main-link">
				<img src="static/img/content/slide.png" class="main-img">
			</a>
		</div>
		<div class="swiper-slide main-slide">
			<a href="#" class="main-link">
				<img src="static/img/content/slide2.png" class="main-img">
			</a>
		</div>
	</div>
</div>
<div class="slider-btn main-btn-prev">
	{{Icon iconName="arrow"}}
</div>
<div class="slider-btn main-btn-next">
	{{Icon iconName="arrow"}}
</div>
