
<div class="filter-overlay"></div>
<div class="catalog__filters">
	<div class="ctg__top">
		<div class="ctg__header">
			Каталог {{Icon iconName="ctg-header"}}
		</div>

		

		<div class="ctg__body">
			<div class="collapsible-item">
				<div class="collapsible-header">
					Стройматериалы {{Icon iconName="ctg-header-2"}}
				</div>
				<div class="collapsible-body">
					<div class="ctg__body-2">
						<a href="#">Гипсокартон и листовые материалы</a>
						<a href="#">Сухие смеси</a>
						<a href="#">Цемент, вяжущие и сыпучие материалы</a>
						<a href="#">Блоки строительные</a>
						<a href="#">Кирпич</a>
						<a href="#">Металлопрокат</a>
						<a href="#">Сетки</a>
						<a href="#">Пиломатериалы</a>
						<a href="#">Древесно-плитные материалы</a>
						<a href="#">Клеи</a>
						<a href="#">Винтовые сваи</a>
						<a href="#">Песок</a>
						<a href="#">Щебень</a>
					</div>
				</div>
			</div>
			<div class="collapsible-item">
				<div class="collapsible-header">
					Изоляционные материалы {{Icon iconName="ctg-header-2"}}
				</div>
				<div class="collapsible-body">
					<div class="ctg__body-2">
						<a href="#">Гипсокартон и листовые материалы</a>
						<a href="#">Сухие смеси</a>
						<a href="#">Цемент, вяжущие и сыпучие материалы</a>
						<a href="#">Блоки строительные</a>
						<a href="#">Кирпич</a>
						<a href="#">Металлопрокат</a>
						<a href="#">Сетки</a>
						<a href="#">Пиломатериалы</a>
						<a href="#">Древесно-плитные материалы</a>
						<a href="#">Клеи</a>
						<a href="#">Винтовые сваи</a>
						<a href="#">Песок</a>
						<a href="#">Щебень</a>
					</div>
				</div>
			</div>
			<div class="collapsible-item">
				<div class="collapsible-header">
					Отделочные материалы {{Icon iconName="ctg-header-2"}}
				</div>
				<div class="collapsible-body">
					<div class="ctg__body-2">
						<a href="#">Гипсокартон и листовые материалы</a>
						<a href="#">Сухие смеси</a>
						<a href="#">Цемент, вяжущие и сыпучие материалы</a>
						<a href="#">Блоки строительные</a>
						<a href="#">Кирпич</a>
						<a href="#">Металлопрокат</a>
						<a href="#">Сетки</a>
						<a href="#">Пиломатериалы</a>
						<a href="#">Древесно-плитные материалы</a>
						<a href="#">Клеи</a>
						<a href="#">Винтовые сваи</a>
						<a href="#">Песок</a>
						<a href="#">Щебень</a>
					</div>
				</div>
			</div>
			<div class="collapsible-item">
				<div class="collapsible-header">
					Потолочные системы {{Icon iconName="ctg-header-2"}}
				</div>
				<div class="collapsible-body">
					<div class="ctg__body-2">
						<a href="#">Гипсокартон и листовые материалы</a>
						<a href="#">Сухие смеси</a>
						<a href="#">Цемент, вяжущие и сыпучие материалы</a>
						<a href="#">Блоки строительные</a>
						<a href="#">Кирпич</a>
						<a href="#">Металлопрокат</a>
						<a href="#">Сетки</a>
						<a href="#">Пиломатериалы</a>
						<a href="#">Древесно-плитные материалы</a>
						<a href="#">Клеи</a>
						<a href="#">Винтовые сваи</a>
						<a href="#">Песок</a>
						<a href="#">Щебень</a>
					</div>
				</div>
			</div>
			<div class="collapsible-item">
				<div class="collapsible-header">
					Сантехника, водоснабжение, канализация {{Icon iconName="ctg-header-2"}}
				</div>
				<div class="collapsible-body">
					<div class="ctg__body-2">
						<a href="#">Гипсокартон и листовые материалы</a>
						<a href="#">Сухие смеси</a>
						<a href="#">Цемент, вяжущие и сыпучие материалы</a>
						<a href="#">Блоки строительные</a>
						<a href="#">Кирпич</a>
						<a href="#">Металлопрокат</a>
						<a href="#">Сетки</a>
						<a href="#">Пиломатериалы</a>
						<a href="#">Древесно-плитные материалы</a>
						<a href="#">Клеи</a>
						<a href="#">Винтовые сваи</a>
						<a href="#">Песок</a>
						<a href="#">Щебень</a>
					</div>
				</div>
			</div>
			<div class="collapsible-item">
				<div class="collapsible-header">
					Электрика {{Icon iconName="ctg-header-2"}}
				</div>
				<div class="collapsible-body">
					<div class="ctg__body-2">
						<a href="#">Гипсокартон и листовые материалы</a>
						<a href="#">Сухие смеси</a>
						<a href="#">Цемент, вяжущие и сыпучие материалы</a>
						<a href="#">Блоки строительные</a>
						<a href="#">Кирпич</a>
						<a href="#">Металлопрокат</a>
						<a href="#">Сетки</a>
						<a href="#">Пиломатериалы</a>
						<a href="#">Древесно-плитные материалы</a>
						<a href="#">Клеи</a>
						<a href="#">Винтовые сваи</a>
						<a href="#">Песок</a>
						<a href="#">Щебень</a>
					</div>
				</div>
			</div>
			<div class="collapsible-item">
				<div class="collapsible-header">
					ЖБИ изделия {{Icon iconName="ctg-header-2"}}
				</div>
				<div class="collapsible-body">
					<div class="ctg__body-2">
						<a href="#">Гипсокартон и листовые материалы</a>
						<a href="#">Сухие смеси</a>
						<a href="#">Цемент, вяжущие и сыпучие материалы</a>
						<a href="#">Блоки строительные</a>
						<a href="#">Кирпич</a>
						<a href="#">Металлопрокат</a>
						<a href="#">Сетки</a>
						<a href="#">Пиломатериалы</a>
						<a href="#">Древесно-плитные материалы</a>
						<a href="#">Клеи</a>
						<a href="#">Винтовые сваи</a>
						<a href="#">Песок</a>
						<a href="#">Щебень</a>
					</div>
				</div>
			</div>
			<div class="collapsible-item">
				<div class="collapsible-header">
					Геоматериалы и дорожное строительство {{Icon iconName="ctg-header-2"}}
				</div>
				<div class="collapsible-body">
					<div class="ctg__body-2">
						<a href="#">Гипсокартон и листовые материалы</a>
						<a href="#">Сухие смеси</a>
						<a href="#">Цемент, вяжущие и сыпучие материалы</a>
						<a href="#">Блоки строительные</a>
						<a href="#">Кирпич</a>
						<a href="#">Металлопрокат</a>
						<a href="#">Сетки</a>
						<a href="#">Пиломатериалы</a>
						<a href="#">Древесно-плитные материалы</a>
						<a href="#">Клеи</a>
						<a href="#">Винтовые сваи</a>
						<a href="#">Песок</a>
						<a href="#">Щебень</a>
					</div>
				</div>
			</div>
			<div class="collapsible-item">
				<div class="collapsible-header">
					Инструмент и оборудование {{Icon iconName="ctg-header-2"}}
				</div>
				<div class="collapsible-body">
					<div class="ctg__body-2">
						<a href="#">Гипсокартон и листовые материалы</a>
						<a href="#">Сухие смеси</a>
						<a href="#">Цемент, вяжущие и сыпучие материалы</a>
						<a href="#">Блоки строительные</a>
						<a href="#">Кирпич</a>
						<a href="#">Металлопрокат</a>
						<a href="#">Сетки</a>
						<a href="#">Пиломатериалы</a>
						<a href="#">Древесно-плитные материалы</a>
						<a href="#">Клеи</a>
						<a href="#">Винтовые сваи</a>
						<a href="#">Песок</a>
						<a href="#">Щебень</a>
					</div>
				</div>
			</div>
			<div class="collapsible-item">
				<div class="collapsible-header">
					Товары для дома, сада и отдыха {{Icon iconName="ctg-header-2"}}
				</div>
				<div class="collapsible-body">
					<div class="ctg__body-2">
						<a href="#">Гипсокартон и листовые материалы</a>
						<a href="#">Сухие смеси</a>
						<a href="#">Цемент, вяжущие и сыпучие материалы</a>
						<a href="#">Блоки строительные</a>
						<a href="#">Кирпич</a>
						<a href="#">Металлопрокат</a>
						<a href="#">Сетки</a>
						<a href="#">Пиломатериалы</a>
						<a href="#">Древесно-плитные материалы</a>
						<a href="#">Клеи</a>
						<a href="#">Винтовые сваи</a>
						<a href="#">Песок</a>
						<a href="#">Щебень</a>
					</div>
				</div>
			</div>
			<div class="collapsible-item">
				<div class="collapsible-header">
					Кровля, фасад, забор {{Icon iconName="ctg-header-2"}}
				</div>
				<div class="collapsible-body">
					<div class="ctg__body-2">
						<a href="#">Гипсокартон и листовые материалы</a>
						<a href="#">Сухие смеси</a>
						<a href="#">Цемент, вяжущие и сыпучие материалы</a>
						<a href="#">Блоки строительные</a>
						<a href="#">Кирпич</a>
						<a href="#">Металлопрокат</a>
						<a href="#">Сетки</a>
						<a href="#">Пиломатериалы</a>
						<a href="#">Древесно-плитные материалы</a>
						<a href="#">Клеи</a>
						<a href="#">Винтовые сваи</a>
						<a href="#">Песок</a>
						<a href="#">Щебень</a>
					</div>
				</div>
			</div>
			<div class="collapsible-item">
				<div class="collapsible-header">
					Крепеж {{Icon iconName="ctg-header-2"}}
				</div>
				<div class="collapsible-body">
					<div class="ctg__body-2">
						<a href="#">Гипсокартон и листовые материалы</a>
						<a href="#">Сухие смеси</a>
						<a href="#">Цемент, вяжущие и сыпучие материалы</a>
						<a href="#">Блоки строительные</a>
						<a href="#">Кирпич</a>
						<a href="#">Металлопрокат</a>
						<a href="#">Сетки</a>
						<a href="#">Пиломатериалы</a>
						<a href="#">Древесно-плитные материалы</a>
						<a href="#">Клеи</a>
						<a href="#">Винтовые сваи</a>
						<a href="#">Песок</a>
						<a href="#">Щебень</a>
					</div>
				</div>
			</div>
			<div class="collapsible-item">
				<div class="collapsible-header">
					Окна, двери, лестницы {{Icon iconName="ctg-header-2"}}
				</div>
				<div class="collapsible-body">
					<div class="ctg__body-2">
						<a href="#">Гипсокартон и листовые материалы</a>
						<a href="#">Сухие смеси</a>
						<a href="#">Цемент, вяжущие и сыпучие материалы</a>
						<a href="#">Блоки строительные</a>
						<a href="#">Кирпич</a>
						<a href="#">Металлопрокат</a>
						<a href="#">Сетки</a>
						<a href="#">Пиломатериалы</a>
						<a href="#">Древесно-плитные материалы</a>
						<a href="#">Клеи</a>
						<a href="#">Винтовые сваи</a>
						<a href="#">Песок</a>
						<a href="#">Щебень</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<span class=" mobile-filter">
		<span class="burger">
			<span class="burger-line"></span>
			<span class="burger-line"></span>
			<span class="burger-line"></span>
		</span>
		Фильтр
	</span>

	<div class="filter__container">
		<div class="filter sticky-block">

			<div class="close-filter">
				{{Icon iconName="close-2"}} Закрыть
			</div>

			<!-- <div class="filter__close-mobile">
			</div> -->

			<div class="filter__item">
				<div class="filter__item-top">
					<div class="filter__item-title">
						Цена ₽
					</div>
					{{Icon iconName="close-2"}}
				</div>
				<div class="filter__item-content">
					<div class="filter__output-container">
						<div class="filter__output filter-output-min">1000</div>
						<div class="filter__output filter-output-max">6000</div>
					</div>
					<div id="slider" class="filter-slider" data-step="10" data-min="0" data-max="10000" ></div>
					<input type="hidden" name="input_min" class="input-min" value="1000">
					<input type="hidden" name="input_max" class="input-max" value="6000">
				</div>
			</div>

			<div class="filter__item">
				<div class="filter__item-top">
					<div class="filter__item-title">
						Наличие
					</div>
					<!-- {{Icon iconName="close-2"}} -->
				</div>
				<div class="filter__item-content">
					<label class="m-check">
						<input type="checkbox">
						<div>{{Icon iconName="checkbox"}}</div>
						<p>В наличии <span>(120)</span></p>
					</label>
					<label class="m-check">
						<input type="checkbox">
						<div>{{Icon iconName="checkbox"}}</div>
						<p>Под заказ <span>(46)</span></p>
					</label>
				</div>
			</div>

			<div class="filter__item">
				<div class="filter__item-top">
					<div class="filter__item-title">
						Бренд
					</div>
					{{Icon iconName="close-2"}}
				</div>
				<div class="filter__item-content">
					<div class="filter__checkbox filter__scroll">
						<label class="m-check">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<p>Afina <span>(28)</span></p>
						</label>
						<label class="m-check">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<p>ANTAN <span>(38)</span></p>
						</label>
						<label class="m-check">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<p>CANOE <span>(25)</span></p>
						</label>
						<label class="m-check">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<p>Caprice <span>(96)</span></p>
						</label>
						<label class="m-check">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<p>Caprice <span>(96)</span></p>
						</label>
						<label class="m-check">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<p>Caprice <span>(96)</span></p>
						</label>
					</div>
					<a href="#" class="filter__link">Показать все</a>
				</div>
			</div>

			<div class="filter__item">
				<div class="filter__item-top">
					<div class="filter__item-title">
						МЕСТО ПРИМЕНЕНИЯ

					</div>
					{{Icon iconName="close-2"}}
				</div>
				<div class="filter__item-content">
					<div class="filter__checkbox filter__scroll">
						<label class="m-check">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<p>Босоножки <span>(34)</span></p>
						</label>
						<label class="m-check">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<p>Бутсы <span>(25)</span></p>
						</label>
						<label class="m-check">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<p>Полуботинки <span>(69)</span></p>
						</label>
						<label class="m-check">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<p>Туфли <span>(120)</span></p>
						</label>
						<label class="m-check">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<p>Туфли <span>(120)</span></p>
						</label>
						<label class="m-check">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<p>Туфли <span>(120)</span></p>
						</label>
						<label class="m-check">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<p>Туфли <span>(120)</span></p>
						</label>
					</div>
				</div>
			</div>

			<div class="filter__item">
				<div class="filter__item-top">
					<div class="filter__item-title">
						Цвет
					</div>
					{{Icon iconName="close-2"}}
				</div>
				<div class="filter__item-content">
					<div class="filter__color-check">
						<label class="color-check">
							<input type="checkbox">
							<div class="brown1"></div>
						</label>

						<label class="color-check">
							<input type="checkbox">
							<div class="brown2"></div>
						</label>

						<label class="color-check">
							<input type="checkbox">
							<div class="green"></div>
						</label>

						<label class="color-check">
							<input type="checkbox">
							<div class="brown3"></div>
						</label>

						<label class="color-check">
							<input type="checkbox">
							<div class="blue"></div>
						</label>

						<label class="color-check">
							<input type="checkbox">
							<div class="green2"></div>
						</label>

						<label class="color-check">
							<input type="checkbox">
							<div class="brown4"></div>
						</label>

						<label class="color-check">
							<input type="checkbox">
							<div class="purple"></div>
						</label>

						<label class="color-check">
							<input type="checkbox">
							<div class="pink"></div>
						</label>

						<label class="color-check">
							<input type="checkbox">
							<div class="black"></div>
						</label>

						<label class="color-check">
							<input type="checkbox">
							<div class="white"></div>
						</label>

						<label class="color-check">
							<input type="checkbox">
							<div class="grey"></div>
						</label>

					</div>
				</div>
			</div>

			<div class="filter__item">
				<div class="filter__item-top">
					<div class="filter__item-title">
						Акции
					</div>
					{{Icon iconName="close-2"}}
				</div>
				<div class="filter__item-content">
					<div class="filter__checkbox">
						<label class="m-check">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<p>Скидка</p>
						</label>
						<label class="m-check">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<p>Новинка</p>
						</label> 
						<label class="m-check">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<p>Резерв</p>
						</label> 
						<label class="m-check">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<p>Спецпредложение</p>
						</label> 
						<label class="m-check">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<p>Сезонный бум</p>
						</label> 
						<label class="m-check">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<p>Сток</p>
						</label> 
					</div>
				</div>
			</div>

			<div class="filter__button">
				Сбросить фильтр
			</div>

		</div>
	</div>
	
</div>