<div class="pag">
	<div class="pag__links">
		<a href="#" class="pag-link pag-prev">
			{{Icon iconName="arrow"}}
		</a>
		<a href="#" class="pag-link active">1</a>
		<a href="#" class="pag-link">2</a>
		<a href="#" class="pag-link">3</a>
		<span class="pag-link">...</span>
		<a href="#" class="pag-link">44</a>
		<a href="#" class="pag-link pag-next">
			{{Icon iconName="arrow"}}
		</a>
	</div>
</div>